﻿/*General*/
body{font-family:tahoma;}
.Dir{float:right}
.OpDir{float:left}
/*Header*/
/*.emiratesLogo{border-left: 1px solid #cfb761;border-right:0}
.EPGLogo{text-align:left;}*/
.welcomePos {left:0;right:auto}
.uppercaseStyle > ul > li > a {border-left:1px solid #787878;padding-left:4px;border-right:0;padding-right:0;}
.uppercaseStyle > ul > li:first-child > a {border-left:0;}
.langNamePadd {/*padding-right:5px;padding-left:0;*/font-family: arial;margin-top: 0;}
.header .ico-wishlist, .header .ico-cart{padding:7px 7px 7px 40px;}
.header .ico-wishlist:after, .header .ico-cart:after {left:0;right:auto;}
.currency-selector select{font-family:Tahoma;font-size:11px;width:90px}
/* firefox fix*/
@-moz-document url-prefix() {
.dk_wrap {background: url('images/epg/Arrow.png') no-repeat 10px center !important;width: 90px;}
.dk_wrap select{width: 110px;}
}
.dk_wrap select {padding: 0 0 0 20px;background:url('images/epg/Arrow.png') no-repeat left center;font-family:Tahoma}
.language-list li a[title='عربى'] {display:none;}
.language-list li a[title='English'] {display:block;}
/* footer */
.FooterSiteMapCol {margin: 0 0 0 8px;}
/*dropDownCustom*/
ul.dropDownCustom li ul.sub-dropDownCustom,  ul.dropDownCustom li >  ul > li ul.sub-dropDownCustom {left: 0;right:auto}
ul.dropDownCustom > li > span{background:url('images/epg/Arrow.png') no-repeat left 6px;padding-left:15px;padding-right:0;margin-right:5px;margin-left:0;direction:ltr;text-align:left;/*padding-bottom:4px*/}
ul.sub-dropDownCustom li{text-align:right}
/* main slider*/
.slider-wrapper .nivo-controlNav {left:0;right:auto}
/* owl slider */

/*mega menu*/
.meganizr > li {border-right:0;float: right;}
.meganizr > li.mzr-align-right {border-left: medium none;float: left;}
.meganizr > li.mzr-drop:hover > a:after, .meganizr > li.mzr-drop > a.mzr-click:after {right: 0;left: auto;}
.meganizr > li > div, .meganizr > li > ul, .meganizr > li > ul li > ul {right: 0;}
.meganizr > li.mzr-align-right > div {right: auto;left: -1px;}
.meganizr > li > a:after {left:-1px;right:auto;}
.meganizr > li > a.activeLink:after {left:0px;right:auto;}
.meganizr > li > a {font-size: 14px;}
.mzr-content img {margin-left:6px;margin-right:0;}
.mzr-content h3 {font-size: 14px;}
.mzr-links > li, .meganizr > li > ul li {background:url("images/epg/menuArrowAr.png") no-repeat scroll right 12px;}
.mzr-content .mzr-links a {padding: 5px 15px 5px 0;}
/*mzr-slide or mzr-fade*/
.meganizr .one-col, .meganizr .two-col, .meganizr .three-col, .meganizr .four-col, .meganizr .five-col, .meganizr .six-col {float: right;padding-left:5px;padding-right:0;margin: 15px 15px 0 0;}
.meganizr .one-col {border-left:1px solid #c3c3c3;border-right:0;}
.meganizr .one-col:nth-of-type(5n)  {border-left:0;}
.meganizr > li > ul li > ul {right: 100%;}
.meganizr > li > ul a {padding:5px 15px 5px 0}
.meganizr > li.mzr-align-right > ul {right: auto;left: 0;}
.meganizr > li > ul li.mzr-align-left > ul {right: auto;left: 105%;}

/* owl slider */ 
.owl-carousel .owl-item {float:right!important}
.owl-prev{float:right;margin:0 -30px 0 0;}
.owl-next{float:left;margin:0 0 0 -30px;}

/* searchbox */
.search-box-text {
    font-family:tahoma;
}

/* categoryBlock */
.categoryblock > div{border:1px solid #d7d7d7;margin-left:25px;margin-right:0;}
.categoryblock > div:nth-child(3n+3){margin-left:0;}

/* featured Products*/
.featureProduct {padding: 10px 30px 10px 0;}

.owl-prev{background-position:0 -126px!important}
.owl-next{background-position:0 -90px!important}

/* news letter */
#newsletter-email{margin-left:2px;margin-right:0;width:225px}

/*socialIcons*/
.socialIconsHolder > div{float:right;}

/* mobile menu at the bottom */

#nav li {
    float:right;
}
#nav li a {
    padding: 5px 6px;
}
.moreLinks{text-align:right;}
/* product selectors */
.product-page-size{float:left}

/*details page */
.overview .button-1, .overview .button-2{margin: 0 0 10px 2%;float:right;}
.overview  input[type='text'], .overview  textarea{font-family:tahoma;}

.product-details-page .gallery .picture-thumbs > div > img{margin:0 0 6px 4px; }

.tabsDescription > a{margin-left: 5px;margin-right:0}

/* search auto complete*/
.ui-widget{font-family:tahoma!important;}

/* flyout cart*/
.flyout-cart {/*display:none!important;*/width:316px;}
.mini-shopping-cart{text-align:right}
.mini-shopping-cart .item .product{width:208px;}

/* filteration */
.price-range-selector .inactive:before, .price-range-selector .nonSelected a:before,  .already-filtered-items .item a:before, .available-items .item a:before{right: -18px;left:auto}
.price-range-selector .active:before, .already-filtered-items .active:before{right: -18px;left:auto}

/* nivo slider*/
.theme-default .nivo-caption{font-family:Tahoma!important}
/* tabs Description */
.resp-tabs-list li {
    margin-left: 5px;
    margin-right:0;
    float: right;
}
.resp-arrow{float:left}
/* dialog close button*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:left!important}
/* recaptcha */
#recaptcha_area, #recaptcha_table{direction:ltr;}
.recaptcha_theme_blackglass #recaptcha_response_field, .recaptcha_theme_white #recaptcha_response_field{text-align:right;}
/* Alert Message */
.warningMsgHolder,.errorMsgHolder,.successMsgHolder, .pendingMsgHolder, .unauthorizedMsgHolder{direction:ltr;}
.alertContent, .flipDir{direction:rtl;}
.ui-datepicker-calendar th{font-size:9px;}
@media only screen and (max-width:940px) {
.navHolder .dk_wrap select{background-position:left 5px top 5px}
.meganizr > li > a:after{right:0;left:0;width:0}
/*search*/
.price-range{float:right;}
.meganizr > li:after{background:url("images/epg/menuMobileArrowAr.png");left:23px;right:auto}
.mobileLook{margin-left:1%;margin-right:0;}
.mobileLook h2.title{padding:5px 0;text-align:right}
/*.languageSelectorMobile{right:15px;left:auto}*/
/*.menu-btn{right: 20px;left:auto}*/
.mzr-responsive {float: right;}
.mzr-responsive > li, .mzr-responsive > li.mzr-align-right {float: right;}
.mzr-responsive > li > ul li > ul, .mzr-responsive > li > ul li.mzr-align-left > ul, .mzr-responsive > li.mzr-align-right > ul {right: -1px;}
}
@media only screen and (max-width:479px) {
/* slide right or left */
.slideRightorLeft {width: 31px;height: 27px;float: left;background: url('images/epg/slideLeft.jpg') no-repeat;margin-bottom: 5px;}
}