﻿@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    if (ViewBag.isMobileCheckout)
    {
        Layout = "~/Views/Shared/_ColumnsBlankMobile.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
    }
    @if (ViewBag.isPaymentFailed)
    {
        <div class="page-title">
            <h1>@T("Checkout.Sorry")</h1>
        </div>
    }
    else
    {
        <div class="page-title">
            <h1>@T("Checkout.ThankYou")</h1>
        </div>
    }
    <div class="page-body checkout-data">
        @Html.Widget("checkout_completed_top")
        <div class="section order-completed">
            @if (ViewBag.isPaymentFailed)
            {
                <div class="title">
                    @T("Checkout.YourOrderHasBeenFailed")
                </div>
            }
            else
            {
                <div class="title">
                    @T("Checkout.YourOrderHasBeenSuccessfullyProcessed")
                </div>
            }
            
            <ul class="details">
                <li>
                    @T("Checkout.OrderNumber"): @Model.OrderId
                </li>
                @if (!ViewBag.isMobileCheckout)
                {
                    <li>
                        <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                    </li>
                }
            </ul>
            @if (!ViewBag.isMobileCheckout)
            {
                <div class="buttons">
                    <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-2 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                </div>
            }
        </div>
        @Html.Widget("checkout_completed_bottom")
    </div>
</div>
