﻿@model CheckoutMultiShippingMethodModel
@using Nop.Web.Models.Checkout;

<div class="checkout-data">
    @Html.Widget("op_checkout_shipping_method_top")
        <table class="multiShippingMethods multiShippingAddress">
            <tr>
                <th>
                    @T("ShoppingCart.Product(s)")
                </th>
                <th>
                    @T("ShoppingCart.Destination")
                </th>
                <th>
                    @T("ShoppingCart.ShippingMethod")
                </th>
                <th>
                    @T("ShoppingCart.ShippingMethod.Charge")
                </th>
                <th>
                    @T("ShoppingCart.ShippingMethod.DeliveryTime")
                </th>
            </tr>
            @{var isRendered = true;}
            @foreach (var item in Model.ItemsShippingMethods)
            {
                if (item.Warnings.Count == 0)
                {
                    <tr class="section shipping-method">
                        <td>
                            <ul class="method-list">
                                @for (int i = 0; i < item.ItemsNames.Count; i++)
                                {
                                    var itemName = item.ItemsNames[i];
                                    <li>
                                        @Html.Raw(itemName)
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul class="method-list">
                                @for (int i = 0; i < item.ItemsAddresses.Count; i++)
                                {
                                    var itemAddress = item.ItemsAddresses[i];
                                    <li>
                                        @Html.Raw(itemAddress)
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="MethodValue" colspan="3">
                            <table class="multiShippingMethods multiShippingAddress">
                                @if (!isRendered)
                                {
                                    isRendered = true;
                                    <tr>
                                        <th>
                                            @T("ShoppingCart.ShippingMethod.Name")
                                        </th>
                                        <th>
                                            @T("ShoppingCart.ShippingMethod.Charge")
                                        </th>
                                        <th>
                                            @T("ShoppingCart.ShippingMethod.DeliveryTime")
                                        </th>
                                    </tr>
                                }
                                @for (int i = 0; i < item.ShippingOptions.Count; i++)
                                {
                                    var shippingMethod = item.ShippingOptions[i];
                                    <tr class="method-list">
                                        <td style="width:35%">
                                            <input class="shipping-method-class" id=" shippingoption_@(i)" type="radio" name="shippingoption_@(item.ItemId)" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)___@(shippingMethod.ID)" checked="@shippingMethod.Selected" />
                                            <label for="shippingoption_@(i)">@T("checkout.selectshippingmethod.method", shippingMethod.Name)</label>
                                        </td>
                                        <td style="width:36%">
                                            @Html.Raw(shippingMethod.Fee)
                                        </td>
                                        @if (!String.IsNullOrEmpty(shippingMethod.ExpectedDeliveryTime))
                                        {
                                            <td>
                                                @Html.Raw(shippingMethod.ExpectedDeliveryTime)
                                            </td>
                                        }
                                    </tr>

                                }
                            </table>
                        </td>

                    </tr>

                }
                else
                {
                    <div class="message-error">
                        <ul>
                            @foreach (var warning in item.Warnings)
                            {
                                <li>@warning</li>
                            }
                        </ul>
                    </div>
                }
            }
        </table>
    @Html.Widget("op_checkout_shipping_method_bottom")
</div>
