﻿@model CheckoutPaymentInfoModel
@using Nop.Web.Models.Checkout;

<div class="checkout-data">
    @Html.Widget("op_checkout_payment_info_top")
    <div class="section payment-info">
        <div class="info">
            @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
        </div>
        <div class="message-error">
            @Html.ValidationSummary(false)
        </div>
    </div>
    @Html.Widget("op_checkout_payment_info_bottom")
    @if (Model.DisplayOrderTotals)
    {
        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    }
</div>
