﻿@model CheckoutShippingAddressModel
@using Nop.Web.Models.Checkout;

@if (!Model.OnlyCustomizedProducts)
{
    if (Model.IsSingleProduct)
    {
        <div id="oneShippingAddress">
            @Html.Partial("OpcShippingAddress", Model)
        </div>
    }
    else
    {
        <div class="checkout-data">
            <div class="optionBorder">
                <div>
                    @*"Send all product to same address"*@
                    @Html.RadioButtonFor(x => x.SendToManyAddressSelected, false, new { onclick = "showResult(this)" })@*Checked = "checked"*@
                    @Html.Raw(T("Checkout.sendtosingleaddressoption"))
                </div>
                <br />
                <div>
                    @*"Send each product to different address"*@
                    @Html.RadioButtonFor(x => x.SendToManyAddressSelected, true, new { onclick = "showResult(this)" })
                    @Html.Raw(T("Checkout.sendtomanyaddressoption"))                    
                </div>
            </div>
        </div>
        <br />
        <div id="oneShippingAddress">
            @Html.Partial("OpcShippingAddress", Model)
        </div>
        <div id="multiShippingAddress">
            @Html.Partial("OpcMultiShippingAddress", Model)
        </div>
    }
}
else
{
    <div id="customizedProduct">
        @Html.Partial("OpcShippingCustomizedProduct", Model)
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        var ManyAddress = $("#@Html.FieldIdFor(x => x.SendToManyAddressSelected):checked").val();

        if (ManyAddress == "False" || typeof ManyAddress == 'undefined') {
            $('#oneShippingAddress').show();
            $('#multiShippingAddress').hide();
        }
        else {
            $('#multiShippingAddress').show();
            $('#oneShippingAddress').hide();
        }
    });

    function showResult(radio) {
        var ManyAddress = radio.value;

        if (ManyAddress == "False") {
            $('#oneShippingAddress').show();
            $('#multiShippingAddress').hide();
        }
        else {
            $('#multiShippingAddress').show();
            $('#oneShippingAddress').hide();
        }
    }
</script>