﻿@{
    Layout = "~/Views/Shared/_ColumnsHome.cshtml";
}

<div class="page home-page">
    <div class="page-body">
        @*@Html.Widget("home_page_top")*@

        @* the new Homepage Slider *@
        @Html.Action("HomepageSlider", "Catalog")
      
        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@
        @Html.Action("HomepageTopSellingItems", "Catalog")
        @Html.Action("HomepageLatestProducts", "Catalog")        
        @Html.Action("ThreeBlockAds", "Catalog")
        @Html.Action("HomepageCategories", "Catalog")
        @Html.Action("HomepageProducts", "Catalog")
        @Html.Action("HomepageBestSellers", "Catalog")
        @*@Html.Action("HomePageNews", "News")
        @Html.Action("HomePagePolls", "Poll")*@
        @Html.Widget("home_page_bottom")
    </div>
</div>
