﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <div class="message-error">
            @Html.ValidationSummary(true)
        </div>
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result greenMSG">
                @Model.Result
            </div>
        }
        @if (!Model.SuccessfullyChanged)
        {
            using (Html.BeginForm())
            {
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.NewPassword, new { }, ":")
                        @Html.EditorFor(model => model.NewPassword)
                        @Html.RequiredHint()
                        <br />
                        @Html.ValidationMessageFor(model => model.NewPassword, null, new { id = "PasswordValidationMessage" })
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")
                        @Html.EditorFor(model => model.ConfirmNewPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
            if (Model.DisplayCaptcha)
            {
            <div class="captcha-box">
                @Html.Raw(Html.GenerateCaptcha())
            </div>
            }
            <div class="buttons">
                <input type="submit" id="passwordRecoveryButton" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
            </div>
            }
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#passwordRecoveryButton').click(function () {
            var pass = $('#@Html.FieldIdFor(x => x.NewPassword)').val();
            var email = '@Model.Email';
            var userNameFromEmail = email.split('@@')[0];
            var userName = '@Model.Username';
            var userNameEnabled = '@Model.UsernamesEnabled';

            if (userNameEnabled.toLowerCase() == "true") {
                if (pass.indexOf(userName) > -1 || pass.indexOf(userNameFromEmail) > -1 || pass.indexOf(email) > -1) {
                    displayAjaxLoading(false);
                    $("#PasswordValidationMessage").html("<span class='field-validation-error'>@T("Account.Fields.Password.ContainMail")</span>");
                    return false;
                }
                else {
                    return true;
                }
            }
            else {
                if (pass.indexOf(userNameFromEmail) > -1 || pass.indexOf(email) > -1) {
                    displayAjaxLoading(false);
                    $("#PasswordValidationMessage").html("<span class='field-validation-error'>@T("Account.Fields.Password.ContainMail")</span>");
                    return false;
                }
                else {
                    return true;
                }
            }
        });
    });
</script>