﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

<div class="bodyContainer">
    <div class="innerContainer">
        <div class="mainContainer">
            <div class="master-wrapper-page">
                @Html.Action("JavaScriptDisabledWarning", "Common")
                <div class="master-wrapper-content">
                    <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
                    </script>
                    @Html.Widget("content_before")
                    <div id="error-message-popup" title="@T("Common.Error")" style="display:none;">
                        <p id="errorMessageParagraph"></p>
                    </div>
                    @*ajax loading window*@
                    <div class="ajax-loading-block-window" style="display: none">
                        <div class="loading-image">
                        </div>
                    </div>
                    <div class="master-wrapper-main">
                        @RenderBody()
                    </div>
                    @Html.Widget("content_after")
                </div>
                <div class="clearFix"></div>
            </div>
        </div>
    </div>
</div>
<div class="clearFix"></div>
