﻿@model ShoppingCartModel.OrderReviewDataModel
@using Nop.Web.Models.ShoppingCart;

@if (Model.Display)
{
    <div class="order-review-data">
        <ul class="billing-info">
            <li class="title">
                <strong>@T("Order.BillingAddress")</strong>
            </li>
            <li class="name">
                @T("Order.Name"): @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
            </li>
            <li class="email">
                @T("Order.Email"): @Model.BillingAddress.Email
            </li>
            @if (Model.BillingAddress.PhoneEnabled)
            {
                <li class="phone">
                    @T("Order.Phone"): @Model.BillingAddress.PhoneNumber
                </li>
            }
            @if (Model.BillingAddress.FaxEnabled && !String.IsNullOrEmpty(Model.BillingAddress.FaxNumber))
            {
                <li class="fax">
                    @T("Order.Fax"): @Model.BillingAddress.FaxNumber
                </li>
            }
            @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
            {
                <li class="company">
                    @T("Order.Company"): @Model.BillingAddress.Company
                </li>
            }
            @if (Model.BillingAddress.StreetAddressEnabled)
            {
                <li class="address1">
                    @T("Order.Address1"): @Model.BillingAddress.Address1
                </li>
            }
            @if (Model.BillingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.BillingAddress.Address2))
            {
                <li class="address2">
                    @T("Order.Address2"): @Model.BillingAddress.Address2
                </li>
            }
            @if (Model.BillingAddress.CityEnabled ||
                Model.BillingAddress.StateProvinceEnabled ||
                Model.BillingAddress.ZipPostalCodeEnabled)
            {
                <li class="city-state-zip">
                    @*checking domestic country to hide city duplicated value*@
                    @if (Model.BillingAddress.CityEnabled && String.IsNullOrEmpty(Model.BillingAddress.UserFriendlyStateProvinceName))
                    {
                        @Model.BillingAddress.City
                    }
                    @if (Model.BillingAddress.CityEnabled && String.IsNullOrEmpty(Model.BillingAddress.UserFriendlyStateProvinceName)
                        && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                    {
                        <text>,</text>
                    }
                    @if (Model.BillingAddress.StateProvinceEnabled)
                    {
                        @Model.BillingAddress.UserFriendlyStateProvinceName
                    }
                    @if (Model.BillingAddress.ZipPostalCodeEnabled)
                    {
                        @Model.BillingAddress.ZipPostalCode
                    }
                </li>
            }
            @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.UserFriendlyCountryName))
            {
                <li class="country">
                    @Model.BillingAddress.UserFriendlyCountryName
                </li>
            }
            @if (!String.IsNullOrEmpty(Model.PaymentMethod))
            {
                <li class="title">
                    <strong>@T("Order.PaymentMethod")</strong>
                </li>
                <li class="payment-method">
                    @Model.PaymentMethod
                </li>
            }
        </ul>
        @*<ul>
            <li class="title">
                <strong>@T("Order.ShippingMethod")</strong>
            </li>
            <li class="shipping-method">
                @Model.ShippingMethod
            </li>
        </ul>*@
    </div>
}