﻿@model SaveforlaterModel
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Saveforlater").Text);
}
<div class="page wishlist-page">
    <div class="page-title">
        <h1>
            @if (Model.IsEditable)
            {
                @T("Saveforlater")
            }
            else
            {
                @String.Format(T("Saveforlater.SaveforlaterOf").Text, Model.CustomerFullname)
            }
        </h1>
    </div>
    <div class="page-body">
        <div class="wishlist-content">
            @if (Model.Items.Count > 0)
            {
                if (Model.Warnings.Count > 0)
                {
                <div class="message-error">
                    <ul>
                        @for (int i = 0; i < Model.Warnings.Count; i++)
                        {
                            <li>@Model.Warnings[i]</li>
                        }
                    </ul>
                </div>
                }
                using (Html.BeginRouteForm("Saveforlater", FormMethod.Post))
                {
                <table class="cart">
                    <colgroup>
                        @if (Model.IsEditable)
                        {
                            <col width="1" />
                        }
                        @if (Model.DisplayAddToCart)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        @if (Model.ShowProductImages)
                        {
                            <col width="1" />
                        }
                        <col />
                        <col width="1" />
                        <col width="1" />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr class="cart-header-row">
                            @if (Model.IsEditable)
                            {
                                <th>
                                    @T("ShoppingCart.Remove")
                                </th>
                            }
                            @if (Model.DisplayAddToCart)
                            {
                                <th>
                                    <span class="nobr">
                                        @T("ShoppingCart.AddToCart")
                                    </span>
                                </th>
                            }
                            @if (Model.ShowSku)
                            {
                                <th>
                                    @T("ShoppingCart.SKU")
                                </th>
                            }
                            @if (Model.ShowProductImages)
                            {
                                <th class="picture">
                                </th>
                            }
                            <th>
                                @T("ShoppingCart.Product(s)")
                            </th>
                            <th>
                                @T("ShoppingCart.UnitPrice")
                            </th>
                            <th>
                                @T("ShoppingCart.Quantity")
                            </th>
                            <th class="end">
                                @T("ShoppingCart.ItemTotal")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="cart-item-row">
                                @if (Model.IsEditable)
                                {
                                    <td class="remove-from-cart">
                                        <span class="td-title">@T("ShoppingCart.Remove"):</span>
                                        <input type="checkbox" name="removefromcart" value="@(item.Id)" />
                                    </td>
                                }
                                @if (Model.DisplayAddToCart)
                                {
                                    <td class="add-to-cart">
                                        <span class="td-title">@T("ShoppingCart.AddToCart"):</span>
                                        <input type="checkbox" name="addtocart" value="@(item.Id)" />
                                    </td>
                                }
                                @if (Model.ShowSku)
                                {
                                    <td class="sku nobr">
                                        <span class="td-title">@T("ShoppingCart.SKU"):</span>
                                        @item.Sku
                                    </td>
                                }
                                @if (Model.ShowProductImages)
                                {
                                    <td class="product-picture">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </td>
                                }
                                <td class="product">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo) && !item.ProductIsCustomizable)
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @for (int i = 0; i < item.Warnings.Count; i++)
                                                {
                                                    <li>@item.Warnings[i]</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td class="unit-price nobr">
                                    <span class="td-title">@T("ShoppingCart.UnitPrice"):</span>
                                    <span class="product-unit-price">@item.UnitPrice</span>
                                </td>
                                <td class="qty nobr">
                                    <span class="td-title">@T("ShoppingCart.Quantity"):</span>
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input"/>
                                        }
                                    }
                                    else
                                    {
                                        <span>@item.Quantity</span>
                                    }
                                </td>
                                <td class="subtotal nobr end">
                                    <span class="product-subtotal">@item.SubTotal</span>
                                    @if (!String.IsNullOrEmpty(item.Discount))
                                    {
                                        <div class="discount">
                                            @T("ShoppingCart.ItemYouSave"): @item.Discount
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>                
                <div class="buttons">
                    <div class="common-buttons">
                        @if (Model.IsEditable)
                        {
                            <input type="submit" name="updatecart" value="@T("Saveforlater.UpdateCart")" class="button-2 update-wishlist-button" />
                        }
                        @if (Model.DisplayAddToCart)
                        {
                            <input type="submit" name="addtocartbutton" value="@T("ShoppingCart.AddToCart")" class="button-2 wishlist-add-to-cart-button" />
                        }
                    </div>
                </div>        
                }
            }
            else
            {
                @T("Saveforlater.CartIsEmpty")
            }
        </div>
        @*@if (Model.IsEditable && Model.Items.Count > 0)
        {
            <div class="share-info">
                <p>
                    <span class="share-label">@T("Saveforlater.YourSaveforlaterURL"):</span>
                </p>
                <p>
                    <a href="@Url.RouteUrl("Saveforlater", new { customerGuid = Model.CustomerGuid })" class="share-link">@Url.RouteUrl("Saveforlater", new { customerGuid = Model.CustomerGuid }, "http")</a>
                </p>
            </div>
        }*@
    </div>
</div>
