﻿@{
    Layout = "";
}
@model Nop.Plugin.Widgets.NivoSlider.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture1")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Picture1Id_OverrideForStore, model => model.Picture1Id, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Picture1Id):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Picture1Id)
                    @Html.ValidationMessageFor(model => model.Picture1Id)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Text1_OverrideForStore, model => model.Text1, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Text1):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Text1)
                    @Html.ValidationMessageFor(model => model.Text1)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ArabicText1_OverrideForStore, model => model.ArabicText1, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ArabicText1):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ArabicText1)
                    @Html.ValidationMessageFor(model => model.ArabicText1)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Link1_OverrideForStore, model => model.Link1, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Link1):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Link1)
                    @Html.ValidationMessageFor(model => model.Link1)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture2")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Picture2Id_OverrideForStore, model => model.Picture2Id, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Picture2Id):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Picture2Id)
                    @Html.ValidationMessageFor(model => model.Picture2Id)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Text2_OverrideForStore, model => model.Text2, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Text2):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Text2)
                    @Html.ValidationMessageFor(model => model.Text2)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ArabicText2_OverrideForStore, model => model.ArabicText2, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ArabicText2):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ArabicText2)
                    @Html.ValidationMessageFor(model => model.ArabicText2)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Link2_OverrideForStore, model => model.Link2, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Link2):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Link2)
                    @Html.ValidationMessageFor(model => model.Link2)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture3")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Picture3Id_OverrideForStore, model => model.Picture3Id, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Picture3Id):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Picture3Id)
                    @Html.ValidationMessageFor(model => model.Picture3Id)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Text3_OverrideForStore, model => model.Text3, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Text3):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Text3)
                    @Html.ValidationMessageFor(model => model.Text3)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ArabicText3_OverrideForStore, model => model.ArabicText3, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ArabicText3):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ArabicText3)
                    @Html.ValidationMessageFor(model => model.ArabicText3)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Link3_OverrideForStore, model => model.Link3, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Link3):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Link3)
                    @Html.ValidationMessageFor(model => model.Link3)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture4")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Picture4Id_OverrideForStore, model => model.Picture4Id, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Picture4Id):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Picture4Id)
                    @Html.ValidationMessageFor(model => model.Picture4Id)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Text4_OverrideForStore, model => model.Text4, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Text4):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Text4)
                    @Html.ValidationMessageFor(model => model.Text4)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ArabicText4_OverrideForStore, model => model.ArabicText4, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ArabicText4):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ArabicText4)
                    @Html.ValidationMessageFor(model => model.ArabicText4)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Link4_OverrideForStore, model => model.Link4, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Link4):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Link4)
                    @Html.ValidationMessageFor(model => model.Link4)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture5")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Picture5Id_OverrideForStore, model => model.Picture5Id, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Picture5Id):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Picture5Id)
                    @Html.ValidationMessageFor(model => model.Picture5Id)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Text5_OverrideForStore, model => model.Text5, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Text5):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Text5)
                    @Html.ValidationMessageFor(model => model.Text5)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.ArabicText5_OverrideForStore, model => model.ArabicText5, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.ArabicText5):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.ArabicText5)
                    @Html.ValidationMessageFor(model => model.ArabicText5)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Link5_OverrideForStore, model => model.Link5, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Link5):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Link5)
                    @Html.ValidationMessageFor(model => model.Link5)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.LeftAd")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.LeftAdPictureId_OverrideForStore, model => model.LeftAdPictureId, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.LeftAdPictureId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.LeftAdPictureId)
                    @Html.ValidationMessageFor(model => model.LeftAdPictureId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.LeftAdText_OverrideForStore, model => model.LeftAdText, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.LeftAdText):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.LeftAdText)
                    @Html.ValidationMessageFor(model => model.LeftAdText)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.LeftAdArabicText_OverrideForStore, model => model.LeftAdArabicText, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.LeftAdArabicText):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.LeftAdArabicText)
                    @Html.ValidationMessageFor(model => model.LeftAdArabicText)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.LeftAdLink_OverrideForStore, model => model.LeftAdLink, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.LeftAdLink):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.LeftAdLink)
                    @Html.ValidationMessageFor(model => model.LeftAdLink)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Block1Ad")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block1PictureId_OverrideForStore, model => model.Block1PictureId, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block1PictureId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block1PictureId)
                    @Html.ValidationMessageFor(model => model.Block1PictureId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block1Text_OverrideForStore, model => model.Block1Text, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block1Text):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block1Text)
                    @Html.ValidationMessageFor(model => model.Block1Text)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block1ArabicText_OverrideForStore, model => model.Block1ArabicText, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block1ArabicText):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block1ArabicText)
                    @Html.ValidationMessageFor(model => model.Block1ArabicText)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block1Link_OverrideForStore, model => model.Block1Link, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block1Link):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block1Link)
                    @Html.ValidationMessageFor(model => model.Block1Link)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block1LinkName_OverrideForStore, model => model.Block1LinkName, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block1LinkName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block1LinkName)
                    @Html.ValidationMessageFor(model => model.Block1LinkName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block1ArabicLinkName_OverrideForStore, model => model.Block1ArabicLinkName, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block1ArabicLinkName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block1ArabicLinkName)
                    @Html.ValidationMessageFor(model => model.Block1ArabicLinkName)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Block2Ad")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block2PictureId_OverrideForStore, model => model.Block2PictureId, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block2PictureId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block2PictureId)
                    @Html.ValidationMessageFor(model => model.Block2PictureId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block2Text_OverrideForStore, model => model.Block2Text, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block2Text):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block2Text)
                    @Html.ValidationMessageFor(model => model.Block2Text)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block2ArabicText_OverrideForStore, model => model.Block2ArabicText, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block2ArabicText):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block2ArabicText)
                    @Html.ValidationMessageFor(model => model.Block2ArabicText)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block2Link_OverrideForStore, model => model.Block2Link, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block2Link):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block2Link)
                    @Html.ValidationMessageFor(model => model.Block2Link)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block2LinkName_OverrideForStore, model => model.Block2LinkName, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block2LinkName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block2LinkName)
                    @Html.ValidationMessageFor(model => model.Block2LinkName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block2ArabicLinkName_OverrideForStore, model => model.Block2ArabicLinkName, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block2ArabicLinkName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block2ArabicLinkName)
                    @Html.ValidationMessageFor(model => model.Block2ArabicLinkName)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Block3Ad")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block3PictureId_OverrideForStore, model => model.Block3PictureId, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block3PictureId):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block3PictureId)
                    @Html.ValidationMessageFor(model => model.Block3PictureId)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block3Text_OverrideForStore, model => model.Block3Text, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block3Text):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block3Text)
                    @Html.ValidationMessageFor(model => model.Block3Text)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block3ArabicText_OverrideForStore, model => model.Block3ArabicText, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block3ArabicText):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block3ArabicText)
                    @Html.ValidationMessageFor(model => model.Block3ArabicText)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.Block3Link_OverrideForStore, model => model.Block3Link, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block3Link):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block3Link)
                    @Html.ValidationMessageFor(model => model.Block3Link)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block3LinkName_OverrideForStore, model => model.Block3LinkName, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block3LinkName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block3LinkName)
                    @Html.ValidationMessageFor(model => model.Block3LinkName)
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.OverrideStoreCheckboxFor(model => model.Block3ArabicLinkName_OverrideForStore, model => model.Block3ArabicLinkName, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.Block3ArabicLinkName):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Block3ArabicLinkName)
                    @Html.ValidationMessageFor(model => model.Block3ArabicLinkName)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}