﻿@using Nop.Services.Catalog
@model PageModel


@if (Model.Id > 0)
{
        <div id="pageplaceholders-grid"></div>

        <script>
            $(document).ready(function () {
                $("#pageplaceholders-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("PlaceHoldersList", "CardPage", new { pageId = Model.Id }))",
                                type: "POST",
                                dataType: "json"
                            },
                            create: {
                                url: "@Html.Raw(Url.Action("PlaceHolderInsert", "CardPage", new { pageId = Model.Id }))",
                                type: "POST",
                                dataType: "json"
                            },
                            update: {
                                url:"@Html.Raw(Url.Action("PlaceHolderUpdate", "CardPage"))",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("PlaceHolderDelete", "CardPage"))",
                                type: "POST",
                                dataType: "json"
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    PlaceHolderName: { editable: true, type: "string" },
                                    //PageId: { editable: false, type: "number" },
                                    PlaceHolderId: { editable: true, type: "number" },
                                    XPos: { editable: true, type: "number" },
                                    YPos: { editable: true, type: "number" },
                                    Width: { editable: true, type: "number" },
                                    Height: { editable: true, type: "number" },
                                    Id: { editable: false, type: "number" }
                                }
                            }
                        },
                        requestEnd: function (e) {
                            if (e.type == "create" || e.type == "update") {
                                this.read();
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    toolbar: ["create"],
                    edit: function(e) {
                        if (e.model.isNew()) {
                            //little hack here
                            //pre-select the first value of kendoui dropdownlist datasource
                            //for some reasons (maybe, bug) it always sends 0
                            //if no value has been selected (changed) in the dropdownlist
                            if (allPlaceHolders.length > 0) {
                                e.model.PlaceHolderId = allPlaceHolders[0].Id;
                            }
                        }
                    },
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "PlaceHolderName",
                        title: "@T("Admin.Catalog.CardPage.Fields.PlaceHolderId")",
                        width: 100,
                        editor: placeHolderDropDownEditor,
                    }, {
                        field: "XPos",
                        title: "@T("Admin.Catalog.CardPage.Fields.XPos")",
                        width: 100,
                        //decimal format
                        format: "{0:0.000}"
                    },  {
                        field: "YPos",
                        title: "@T("Admin.Catalog.CardPage.Fields.YPos")",
                        width: 100,
                        //decimal format
                        format: "{0:0.000}"
                    },  {
                        field: "Width",
                        title: "@T("Admin.Catalog.CardPage.Fields.Width")",
                        width: 100,
                        //decimal format
                        format: "{0:0.000}"
                    },  {
                        field: "Height",
                        title: "@T("Admin.Catalog.CardPage.Fields.Height")",
                        width: 100,
                        //decimal format
                        format: "{0:0.000}"
                    },  {
                        command: [{
                            name: "edit",
                            text: "@T("Admin.Common.Edit")"
                        }, {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });
            });

            //local datasource
            var allPlaceHolders = [
                @{
                    var placeHolderService = EngineContext.Current.Resolve<IPlaceHolderService>();
                    var allPlaceHolders = placeHolderService.GetAllPlaceHolders();
                }
                @for (int i = 0; i < allPlaceHolders.Count; i++)
                {
                    var placeHolder = allPlaceHolders[i];
                    <text>
                        {
                            Id: @(placeHolder.Id),
                            Name: "@(placeHolder.Name)"
                        }
                        </text>
                    if (i != allPlaceHolders.Count - 1)
                    {
                        <text>,</text>
                    }
                }
            ];

            function placeHolderDropDownEditor(container, options) {
                $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:PlaceHolderId"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataSource: allPlaceHolders
                    });
            }
        </script>
}
else
{
    @T("Admin.Catalog.CardPage.SaveBeforeEdit")
}

