﻿@model CatalogPagingFilteringModel.SpecificationFilterModel
@using Nop.Web.Models.Catalog;
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
    var alreadyFilteredItems = Model.AlreadyFilteredItems.GroupBy(x => x.SpecificationAttributeName);
}
@if (Model.Enabled)
{
    <div class="product-filters product-spec-filter">
        <div class="filter-title">
            @T("Filtering.SpecificationFilter")
        </div>
        <div class="filter-content">
            @if (Model.NotFilteredItems.Count > 0)
            {
                <div class="available-items">
                    @foreach (var group in notFilteredItemsGroups)
                    {
                        var groupList = group.ToList();
                        
                        <ul class="group">
                            <li class="title">
                                @groupList[0].SpecificationAttributeName
                            </li>

                            @foreach (var spec in groupList)
                            {
                                <li class="item">
                                    <a href="@spec.FilterUrl">@spec.SpecificationAttributeOptionName</a>
                                </li>
                            }
                        </ul> 
                    }
                </div>
            }
            @*@if (Model.AlreadyFilteredItems.Count > 0)
            {
                <div class="already-filtered-items">
                    <div class="filter-title">
                        @T("Filtering.SpecificationFilter.CurrentlyFilteredBy")
                    </div>
                    @foreach (var item in Model.AlreadyFilteredItems)
                    {
                        <div class="item">
                            <strong>@(item.SpecificationAttributeName):</strong> @item.SpecificationAttributeOptionName
                        </div>
                    }
                </div>
                <div class="remove-filter">
                    <a href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
                </div>
            }*@
            @if (Model.AlreadyFilteredItems.Count > 0)
            {
                <div class="already-filtered-items">
                    @foreach (var group in alreadyFilteredItems)
                    {
                        var groupList = group.ToList();

                        <ul class="group">
                            <li class="title">
                                @groupList[0].SpecificationAttributeName
                            </li>

                            @foreach (var spec in groupList)
                            {
                                if(spec.Selected)
                                {
                                    <li class="item">
                                        <a href="@spec.FilterUrl" class="active">@spec.SpecificationAttributeOptionName</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="item">
                                        <a href="@spec.FilterUrl">@spec.SpecificationAttributeOptionName</a>
                                    </li>
                                }
                                
                            }
                        </ul>
                    }                    
                </div>
                <div class="remove-filter">
                    <a href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
                </div>
            }
        </div>
    </div>
}