﻿@model IList<CategoryModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    @*<h2 class="title" style="text-align:center;">
        <strong>@T("Categories.FeaturedCategories")</strong>
    </h2>*@
        <div>
            <div class="clearFix"></div> 
            <div class="homeCategoryHolderCenter">
                @foreach (var item in Model)
                {
                    if (item.FeaturedProducts.Count > 0)
                    {
                        <div class="item-box mobileLook">
                            <div class="Dir">
                                <div class="Dir categoryIcon"><img src="@item.IconModel.FullSizeImageUrl" /></div>
                                <div class="Dir">
                                    <h2 class="title">
                                        @*<a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">*@
                                        @item.Name
                                        @*</a>*@
                                    </h2>
                                </div>

                                <div class="mobileDesktopHide">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title"><img src="@item.PictureModel.ImageUrl" width="125" height="125" /></a>
                                </div>
                            </div>
                            <div class="OpDir">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="viewAll">
                                    @T("Category.ViewAll")
                                </a>
                            </div>
                            <div class="clearFix"></div>
                            <div class="itemBoxSeparator"></div>
                            <div class="clearFix"></div>
                            <div class="product-grid featured-product-grid">
                                <div class="owl-carousel">
                                    @foreach (var latestProduct in item.LatestProducts)
                                    {
                                        <div class="item-box">
                                            @Html.Partial("_ProductBox", latestProduct)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

    </div>
}