﻿@model FeaturesListModel
@{
    Layout = "";

    Html.AddScriptParts("~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css");
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/default/default.css");
}
@using System
@using Nop.Web.Framework.UI
@using Nop.Web.Models.FeaturesLists;

@helper RenderSliderLine(string pictureUrl, string text, string link, string dataTransition = "")
{
    if (!string.IsNullOrEmpty(pictureUrl))
    {
        if (!string.IsNullOrEmpty(link))
        {
            <a href="@link">
                <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="" title="@text" />
            </a>
        }
        else
        {
            <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="" title="@text" />
        }
    }
}
<div class="slider-wrapper theme-default">
    <div id="nivo-slider" class="nivoSlider">
        @foreach (var item in Model.FeaturesListItems)
        {
            @RenderSliderLine(item.PictureURL, item.Comment, item.URL);
        }
    </div>
</div>
<script type="text/javascript">
    $(window).load(function () {
        //$('#nivo-slider').nivoSlider();
        $('#nivo-slider').nivoSlider({
            effect: 'fade',
        });
    });
</script>
