﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
        <div>
            <div class="clearFix"></div> 
            <div class="homeCategoryHolderCenter latestandTopProducts">
                <div class="item-box mobileLook">
                    <div class="Dir">
                        <div class="Dir">
                            <h2 class="title">
                                @T("homepage.topsellingproducts")
                            </h2>
                        </div>
                    </div>
                    <div class="clearFix"></div>
                    <div class="itemBoxSeparator"></div>
                    <div class="clearFix"></div>
                    <div class="product-grid featured-product-grid">
                        <div class="owl-carousel">
                            @foreach (var topSellingItemProduct in Model)
                            {
                                <div class="item-box">
                                    @Html.Partial("_ProductBox", topSellingItemProduct)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

    </div>
}
