﻿@model FeaturesListModel

@using Nop.Web.Models.FeaturesLists;
@using Nop.Web.Models.Catalog;

@foreach (var item in Model.FeaturesListItems)
{
    <a href="@item.URL">
        <img src="@item.PictureURL" alt="" title="@item.Comment" class="adStyle" width="188"/>
    </a>
}

@*<a href="@Model.LeftAdLink">
    <img src="@Model.LeftAdPictureURL" alt="" title="@Model.LeftAdText" class="adStyle" width="188" />
</a>*@


@*"~/Themes/Custom/Content/images/epg/leftAdnew.jpg"*@