﻿@model TopMenuModel
@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    var isRtl = this.ShouldUseRtlTheme();
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddTitleParts(T("common.more").Text);
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@*breadcrumb*@
<div class="breadcrumb">
    <ul>
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>
        <li>
            <strong class="current-item">@T("common.more")</strong>
        </li>
    </ul>
</div>
@Html.Widget("categorydetails_after_breadcrumb")

<div class="page-title">
    <h1>
        @T("common.more")
    </h1>
</div>
<div class="sub-category-grid">
    @foreach (var item in Model.Categories)
    {
        <div class="item-box">
            <div class="sub-category-item">
                <h2 class="title">
                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                        @item.Name
                    </a>
                </h2>
                <div class="picture">
                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl"
                             title="@item.PictureModel.Title" />
                    </a>
                </div>
            </div>
        </div>

    }
    <div class="item-box">
        <div class="sub-category-item">
            <h2 class="title">
                <a href="@Url.Action("OfferProducts", "Catalog")" title="@T("Offers")">
                    @T("Offers")
                </a>
            </h2>
            <div class="picture">
                <a href="@Url.Action("OfferProducts", "Catalog")" title="@T("Offers")">
                    <img alt="@T("Offers")" src="~/Themes/Custom/Content/images/epg/OffersIconBig.png"
                         title="@T("Offers")" />
                </a>
            </div>
        </div>
    </div>
</div>


