﻿@model IList<CategoryModel>

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddTitleParts(T("PageTitle.Offers").Text);

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}

@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;

@*breadcrumb*@
<div class="breadcrumb">
    <ul>
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>
        <li>
            <strong class="current-item">@T("Offers")</strong>
        </li>
    </ul>
</div>
@Html.Widget("categorydetails_after_breadcrumb")

@if (Model.Count > 0)
{
    <div class="page-title">
            <h1>
                @T("Products.Offers")</h1>
        </div>
    <div class="item-box">
        @foreach (var category in Model)
        {
            if (category != null)
            {
                <h4 class="title">
                    @category.Name
                </h4>
                <div class="itemBoxSeparator"></div>
                <div class="product-grid home-page-product-grid">
                    @foreach (var product in category.Products)
                    {
                        <div class="item-box">
                            @Html.Partial("_ProductBox", product)
                        </div>
                    }
                </div>
            }
        }
    </div>
}
