﻿@model FeaturesListModel

@using Nop.Web.Models.Catalog;
@using Nop.Web.Models.FeaturesLists;

<div class="categoryblock">
    @foreach (var item in Model.FeaturesListItems)
    {
        <div class="Dir">
            <a href="@item.URL">
                <div class="categoryImg"><img src="@item.PictureURL" title="@item.Comment" width="218" height="133" /></div>
                <div class="categoryTxt">
                    <div class="Dir">@item.Comment</div>
                    <div class="OpDir categoryLink">@item.Text</div>
                    <div class="clearFix"></div>
                </div>
            </a>
        </div>
    }
    @*<div class="Dir">
        <a href="@Model.Block1Link">
            <div class="categoryImg"><img src="@Model.Block1PictureURL" title="@Model.Block1Text" width="218" height="133" /></div>
            <div class="categoryTxt">
                <div class="Dir">@Model.Block1Text</div>
                <div class="OpDir categoryLink">@Model.Block1LinkName</div>
                <div class="clearFix"></div>
            </div>
        </a>
    </div>
    <div class="Dir">
        <a href="@Model.Block2Link">
            <div class="categoryImg"><img src="@Model.Block2PictureURL" title="@Model.Block2Text" width=" 218" height="133" /></div>
            <div class="categoryTxt">
                <div class="Dir">@Model.Block2Text</div>
                <div class="OpDir categoryLink">@Model.Block2LinkName</div>
                <div class="clearFix"></div>
            </div>
        </a>
    </div>
    <div class="Dir">
        <a href="@Model.Block3Link">
            <div class="categoryImg"><img src="@Model.Block3PictureURL" title="@Model.Block3Text" width=" 218" height="133" /></div>
            <div class="categoryTxt">
                <div class="Dir">@Model.Block3Text</div>
                <div class="OpDir categoryLink">@Model.Block3LinkName</div>
                <div class="clearFix"></div>
            </div>
        </a>
    </div>*@
</div>
