﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.EPGPayment.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.TransactModeId_OverrideForStore, model => model.TransactModeId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.TransactModeValues):
            </td>
            <td class="adminData">
                @Html.DropDownList("TransactModeId", Model.TransactModeValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.AdditionalFeePercentage_OverrideForStore, model => model.AdditionalFeePercentage, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.AdditionalFeePercentage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFeePercentage)
                @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.ServiceURL_OverrideForStore, model => model.ServiceURL, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.ServiceURL):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ServiceURL)
                @Html.ValidationMessageFor(model => model.ServiceURL)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.OverrideStoreCheckboxFor(model => model.APPName, model => model.APPName, Model.ActiveStoreScopeConfiguration)*@
                @Html.NopLabelFor(model => model.APPName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.APPName)
                @Html.ValidationMessageFor(model => model.APPName)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.OverrideStoreCheckboxFor(model => model.SERVICENAME, model => model.SERVICENAME, Model.ActiveStoreScopeConfiguration)*@
                @Html.NopLabelFor(model => model.SERVICENAME):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SERVICENAME)
                @Html.ValidationMessageFor(model => model.SERVICENAME)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.OverrideStoreCheckboxFor(model => model.AuthtokenURL, model => model.AuthtokenURL, Model.ActiveStoreScopeConfiguration)*@
                @Html.NopLabelFor(model => model.AuthtokenURL):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AuthtokenURL)
                @Html.ValidationMessageFor(model => model.AuthtokenURL)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.OverrideStoreCheckboxFor(model => model.sourceID, model => model.sourceID, Model.ActiveStoreScopeConfiguration)*@
                @Html.NopLabelFor(model => model.sourceID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.sourceID)
                @Html.ValidationMessageFor(model => model.sourceID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.OverrideStoreCheckboxFor(model => model.AuthPass, model => model.AuthPass, Model.ActiveStoreScopeConfiguration)*@
                @Html.NopLabelFor(model => model.AuthPass):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AuthPass)
                @Html.ValidationMessageFor(model => model.AuthPass)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.OverrideStoreCheckboxFor(model => model.InquiryURL, model => model.InquiryURL, Model.ActiveStoreScopeConfiguration)*@
                @Html.NopLabelFor(model => model.InquiryURL):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.InquiryURL)
                @Html.ValidationMessageFor(model => model.InquiryURL)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
}