﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.EPGPayment.Models.EPGPaymentGatewayModel
@using Nop.Web.Framework;
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="sourceID" content="@Model.sourceID" />
    <meta name="sourceGUID" content="@Model.sourceGUID" />
   
        </head>
        <body>
            <form id="form1" action="@System.Configuration.ConfigurationManager.AppSettings["PaymentURL"]">
                @using (Html.BeginForm())
                {
                    <table width="100%" cellspacing="2" cellpadding="1" border="0" class="PaymentInfo">
                        <tr>
                            <td class="PaymentInfoValue">
                                @Html.HiddenFor(model => model.APP_NAME, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.SERVICE_NAME, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_FNAME, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_LNAME, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_EMAIL, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_MOBILE, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_STREET1, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_STREET2, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_STATE, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_COUNTRY, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_CITY, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.BILL_TO_POSTCODE, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.CURRENCY, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.TOTAL_AMOUNT, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.TXN_REF, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.CHANNEL, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.RETURN_URL, new { style = "Width: 165px;", autocomplete = "off" })
                            </td>
                        </tr>
                        @foreach (var item in Model.ItemsValues)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="@item.Key" value="@item.Value">
                                </td>
                            </tr>
                        }
                        @foreach (var item in Model.ItemsNames)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="@item.Key" value="@item.Value">
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <input type="submit" name="submit" id="submit">
                            </td>
                        </tr>
                    </table>
                    <script language="JavaScript" type="text/javascript">

                        document.getElementById('submit').click();


                    </script>
                }
            </form>
        </body>
</html>