﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.EPGPayment.Models.PaymentInfoModel
@using Nop.Web.Framework;
<table width="100%" cellspacing="2" cellpadding="1" border="0" class="PaymentInfo">
    <tr>
        <td class="PaymentInfoLabel">
            @Html.NopLabelFor(model => model.CreditCardTypes, false):
        </td>
        <td class="PaymentInfoValue">
            @Html.DropDownListFor(model => model.CreditCardType, Model.CreditCardTypes, new { @class = "dropdownlists" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.NopLabelFor(model => model.CardholderName, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.CardholderName, new { style = "Width: 165px;", autocomplete = "off" })
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.CardholderName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.NopLabelFor(model => model.CardNumber, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.CardNumber, new { style = "Width: 165px;", autocomplete = "off", maxlength = 22 })
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.CardNumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.NopLabelFor(model => model.ExpireMonth, false):
        </td>
        <td>
            @Html.DropDownListFor(model => model.ExpireMonth, Model.ExpireMonths)
            @Html.DropDownListFor(model => model.ExpireYear, Model.ExpireYears)
        </td>
    </tr>
</table>
