﻿@using Nop.Services.Catalog
@model CardTemplateModel


@if (Model.Id > 0)
{
        <div id="pages-grid"></div>

        <script>
            $(document).ready(function () {
                $("#pages-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("PagesList", "CardTemplate", new { templateId = Model.Id }))",
                                type: "POST",
                                dataType: "json"
                            },
                            create: {
                                url: "@Html.Raw(Url.Action("PagesInsert", "CardTemplate", new { templateId = Model.Id }))",
                                type: "POST",
                                dataType: "json"
                            },
                            update: {
                                url:"@Html.Raw(Url.Action("PagesUpdate", "CardTemplate"))",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("PagesDelete", "CardTemplate"))",
                                type: "POST",
                                dataType: "json"
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    PageName: { editable: true, type: "string" },
                                    //TemplateId: { editable: false, type: "number" },
                                    PageId: { editable: true, type: "number" },
                                    DisplayOrder: { editable: true, type: "number" },
                                    Id: { editable: false, type: "number" }
                                }
                            }
                        },
                        requestEnd: function (e) {
                            if (e.type == "create" || e.type == "update") {
                                this.read();
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    toolbar: ["create"],
                    edit: function(e) {
                        if (e.model.isNew()) {
                            //little hack here
                            //pre-select the first value of kendoui dropdownlist datasource
                            //for some reasons (maybe, bug) it always sends 0
                            //if no value has been selected (changed) in the dropdownlist
                            if (allPages.length > 0) {
                                e.model.PageId = allPages[0].Id;
                            }
                        }
                    },
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "PageName",
                        title: "@T("Admin.Catalog.CardTemplate.Fields.PageId")",
                        width: 300,
                        editor: cardPageDropDownEditor,
                    }, {
                        field: "DisplayOrder",
                        title: "@T("Admin.Catalog.CardTemplate.Fields.DisplayOrder")",
                        width: 200,
                        //decimal format
                        format: "{0:0}"
                    },  {
                        command: [{
                            name: "edit",
                            text: "@T("Admin.Common.Edit")"
                        }, {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });
            });

            //local datasource
            var allPages = [
                @{
                    var placeHolderService = EngineContext.Current.Resolve<IPlaceHolderService>();
                    var allPages = placeHolderService.GetAllPages();
                }
                @for (int i = 0; i < allPages.Count; i++)
                {
                    var page = allPages[i];
                    <text>
                        {
                            Id: @(page.Id),
                            Name: "@(page.Name)"
                        }
                        </text>
                    if (i != allPages.Count - 1)
                    {
                        <text>,</text>
                    }
                }
            ];

            function cardPageDropDownEditor(container, options) {
                $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:PageId"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        autoBind: false,
                        dataSource: allPages
                    });
            }
        </script>
}
else
{
    @T("Admin.Catalog.CardTemplate.SaveBeforeEdit")
}

