﻿@model CardTemplateModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<div id="template-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Catalog.CardTemplate.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Admin.Catalog.CardTemplate.Pages")
        </li>
    </ul>


    <div>
        @TabInfo()
    </div>
    <div>
        @TabPages()
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#template-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "template-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabInfo()
{
    @Html.Partial("_CreateOrUpdate.Info", Model)
}
@helper TabPages()
{
    @Html.Partial("_CreateOrUpdate.Pages", Model)
}