﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
<div class="footerHolder">
    <div class="footerPart1">
        <div class="innerContainer">
            <div class="footer">
                <div class="footer-menu-wrapper">
                    <div class="column customer-service FooterSiteMapCol Dir">
                        @Html.Action("FooterCategories", "Catalog")
                    </div>
                    <div class="column information FooterSiteMapCol Dir">
                        <h3>@T("Footer.Information")</h3>
                        <ul>
                            @if (Model.SitemapEnabled)
                            {
                                <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                            }
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("shippinginfo") })">@T("ShippingReturns")</a></li>
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("privacyinfo") })">@T("PrivacyNotice")</a></li>
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("conditionsofuse") })">@T("ConditionsOfUse")</a></li>
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("aboutus") })">@T("AboutUs")</a></li>
                            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                            <li><a href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("help") })">@T("help")</a></li>
                        </ul>
                    </div>
                    
                        <div class="column customer-service FooterSiteMapCol Dir">
                            <h3>@T("Footer.CustomerService")</h3>
                            <ul>
                                <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                                @*@if (Model.NewsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                                }
                                @if (Model.BlogEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                                }
                                @if (Model.ForumEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                                }
                                @if (Model.RecentlyViewedProductsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                                }*@
                                @if (Model.CompareProductsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                                }
                                @*@if (Model.RecentlyAddedProductsEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a></li>
                                }*@
                                <li><a href="@Url.RouteUrl("BestSellers")">@T("bestsellers")</a></li>
                            </ul>
                        </div>
                        <div class="column my-account FooterSiteMapCol Dir">
                            <h3>@T("Footer.MyAccount")</h3>
                            <ul>
                                <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@T("Account.MyAccount")</a></li>
                                @if (!Model.HideOrders)
                                {
                                    <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                                }
                                @if (!Model.HideAddresses)
                                {
                                    <li><a href="@Url.RouteUrl("CustomerAddresses")" class="">@T("Account.CustomerAddresses")</a></li>
                                }
                                @if (Model.ShoppingCartEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">@T("ShoppingCart")</a></li>
                                }
                                @if (Model.WishlistEnabled)
                                {
                                    <li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">@T("Wishlist")</a></li>
                                }
                            </ul>
                        </div>
                        @*<div class="column follow-us FooterSiteMapCol Dir">
                            <h3>@T("Footer.FollowUs")</h3>
                            <ul>
                                @if (!string.IsNullOrEmpty(Model.FacebookLink))
                                {
                                    <li class="facebook"><a href="@Model.FacebookLink" target="_blank">@T("Footer.FollowUs.Facebook")</a></li>
                                }
                                @if (!string.IsNullOrEmpty(Model.TwitterLink))
                                {
                                    <li class="twitter"><a href="@Model.TwitterLink" target="_blank">@T("Footer.FollowUs.Twitter")</a></li>
                                }
                                @if (Model.NewsEnabled)
                                {
                                    <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})">@T("Footer.FollowUs.RSS")</a></li>
                                }
                                @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                                {
                                    <li class="youtube"><a href="@Model.YoutubeLink" target="_blank">@T("Footer.FollowUs.Youtube")</a></li>
                                }
                                @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                                {
                                    <li class="google-plus"><a href="@Model.GooglePlusLink" target="_blank">@T("Footer.FollowUs.GooglePlus")</a></li>
                                }
                            </ul>
                        </div>*@
                        <div class="OpDir">@Html.Action("NewsletterBox", "Newsletter")</div>
                    </div>
            </div>
            <div class="clearFix"></div>
        </div>
    </div>
    <div class="footerPart2">
        <div class="innerContainer">
            <div>
                @T("Footer.NopCommercePowered")
                <br />
                @T("Footer.RemovePoweredBy")
                <br />
                @T("Footer.NopCommerceFindMore")
            </div>
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                <div class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
            <div class="footer-disclaimer Dir">
                <div>@T("content.viewresolution")</div>
                <div>@T("content.compatibility")</div>
                <div>@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</div>
            </div>
            <div class="socialIconsHolder OpDir">
                <div class="faceBookIcn" title="@T("Footer.FollowUs.Facebook")"><a href="@Model.FacebookLink" target="_blank"></a></div>
                <div class="twitterIcn" title="@T("Footer.FollowUs.Twitter")"><a href="@Model.TwitterLink" target="_blank"></a></div>
                <div class="gPlusIcn" title="@T("Footer.FollowUs.GooglePlus")"><a href="@Model.GooglePlusLink" target="_blank"></a></div>
                <div class="instegramIcn" title="@T("Footer.FollowUs.instagram")"><a href="@Model.InstagramLink" target="_blank"></a></div>
            </div>
            <div class="footer-store-theme">
                @Html.Action("StoreThemeSelector", "Common")
            </div>
            <div class="clearFix"></div>
            @Html.Action("ChangeDeviceBlock", "Common")
            @Html.Widget("footer")
        </div>
    </div>
</div>



