﻿@model SitemapModel
@using Nop.Web.Models.Common;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Sitemap").Text);
}

@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
        <li class="mzr-drop">
            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" class="boldStyle">
                @category.Name
                @*@if (category.NumberOfProducts.HasValue)
                    {
                        <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
                    }*@
            </a>
            @{
        if (category.SubCategories.Count > 0)
        {
            if (responsiveMobileMenu)
            {
                <span class="expand">&nbsp;</span>
            }

            <div class="mzr-content drop-six-columns">
                @foreach (var subCategory in category.SubCategories)
                {
                    @RenderSubCategoryLine(subCategory, level + 1, responsiveMobileMenu)
                }
            </div>
        }
            }

        </li>
}

@helper RenderSubCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <div class="one-col">
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
            @if (category.SubCategories.Count > 0)
            {
                <div class="plusIcon Dir"></div>
            }
            <div class="Dir">@category.Name</div>
        </a>
        <div class="clearFix"></div>
        <ul class="mzr-links" style="display:none">
            @{
                if (category.SubCategories.Count > 0)
                {
                    if (responsiveMobileMenu)
                    {
                        <span class="expand">&nbsp;</span>
                    }


                    foreach (var subCategory in category.SubCategories)
                    {
                        @RenderNoMegaSubCategoryLine(subCategory, level + 1, responsiveMobileMenu)
                    }

                }
            }
        </ul>
    </div>
}

@helper RenderNoMegaSubCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
            @category.Name
        </a>
    </li>
}

<div class="page sitemap-page siteMapStyle">
    <div class="page-title">
        <h1>@T("Sitemap")</h1>
    </div>
    <div class="page-body">
        @if (Model.Topics.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Topics")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var item in Model.Topics)
{
    <li ><a href="@Url.RouteUrl("Topic", new { Sename = Html.GetTopicSeName(item.SystemName) })">@item.Title</a></li>
}
                    </ul>
                </div>

            </div>
        }
        @if (Model.HierarchicalCategories.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Categories")</h2>
                </div>
                @{
                    int categoryNumberPerCol = (int)Math.Ceiling((double)Model.HierarchicalCategories.Count / 5);
                    int numberOfCols = (int)Math.Ceiling((double)Model.HierarchicalCategories.Count / categoryNumberPerCol);
                    int width = 100 / numberOfCols;
                    <div class="clearFix"></div>
                    for (int j = 0; j < 5; j++)
                    {
                        int count = (j * categoryNumberPerCol) + categoryNumberPerCol;
                        if (count < Model.HierarchicalCategories.Count)
                        {
                            <div class="siteMapCol" style="width:@width%">
                            <ul class="siteMapCollapse">
                                @for (int i = j * categoryNumberPerCol; i < count; i++)
                                {
                                    @RenderCategoryLine(Model.HierarchicalCategories[i], 0, false);
                                }
                            </ul>
                        </div>
                        }
                        else
                        {
                            <div class="siteMapCol" style="width:@width%">
                                <ul class="siteMapCollapse">
                                    @for (int i = j * categoryNumberPerCol; i < Model.HierarchicalCategories.Count; i++)
                                    {
                                        @RenderCategoryLine(Model.HierarchicalCategories[i], 0, false);
                                    }
                                </ul>
                            </div>
                                    break;
                        }
                    }
                    <div class="clearFix"></div>
                }
            </div>
        }
        @*@if (Model.Categories.Count > 0)
        {
            <div class="clearFix"></div>
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Categories")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var category in Model.Categories)
                        {
                            <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }*@
        @if (Model.Manufacturers.Count > 0)
        {
            <div class="clearFix"></div>
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Manufacturers")</h2>
                </div>
                <div class="entity-body">
                    <ul >
                        @foreach (var manufacturer in Model.Manufacturers)
{
    <li class="TopicsBorder"><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a></li>
}
                    </ul>
                </div>
            </div>
        }
        @if (Model.Products.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Products")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var product in Model.Products)
                        { 
                            <li><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>