﻿@model PlaceHolderModel

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        <td class="adminData">
            <div style="display:inline;">
                @Html.RadioButtonFor(x => x.Name, "Text")
                @Html.Encode("Text")
            </div>
            <div style="display:inline; margin-left:40px">
                @Html.RadioButtonFor(x => x.Name, "Image")
                @Html.Encode("Image")
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
                
</td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.TextMaxChars):
        </td>
        <td class="adminData">
            @Html.EditorFor(x => x.TextMaxChars)
            @Html.ValidationMessageFor(model => model.TextMaxChars)
        </td>
    </tr>
</table>
