﻿@using Nop.Admin.Models.FeaturesLists;

@model FeaturesListModel


@if (Model.Id > 0)
{
    <div id="featuresListItems-grid"></div>

    <script>
        $(document).ready(function () {
            $("#featuresListItems-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("FeaturesListItemList", "FeaturesList", new { FeaturesListId = Model.Id }))",
                            type: "POST",
                            dataType: "json"
                        },
                        @*create: {
                                url: "@Html.Raw(Url.Action("FeaturesListItemsInsert", "FeaturesList", new { FeaturesListId = Model.Id }))",
                                type: "POST",
                                dataType: "json"
                            },*@
                        update: {
                            url: "@Html.Raw(Url.Action("FeaturesListItemUpdate", "FeaturesList"))",
                            type: "POST",
                            dataType: "json"
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("FeaturesListItemsDelete", "FeaturesList"))",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id",
                            fields: {
                                //FeaturesListId: { editable: false, type: "number" },
                                PictureURL: { editable: false, type: "string" },
                                URL: { editable: true, type: "string" },
                                Comment: { editable: true, type: "string" },
                                ArabicComment: { editable: true, type: "string" },
                                Text: { editable: true, type: "string" },
                                ArabicText: { editable: true, type: "string" },
                                DisplayOrder: { editable: true, type: "number" },
                                Visible: { editable: true, type: "boolean" },
                                PictureId: { editable: false, type: "number" },
                                Id: { editable: false, type: "number" }
                            }
                        }
                    },
                    requestEnd: function (e) {
                        if (e.type == "create" || e.type == "update") {
                            this.read();
                        }
                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "PictureURL",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.PictureId")",
                    width: 150,
                    template: '<a href="#=PictureURL#" target="_blank"><img alt="#=PictureId#" src="#=PictureURL#" width="150" /><a/>',
                }, {
                    field: "URL",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.URL")",
                    width: 100,
                }, {
                    field: "Comment",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.Comment")",
                    width: 100,
                }, {
                    field: "ArabicComment",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.ArabicComment")",
                    width: 100,
                }, {
                    field: "Text",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.Text")",
                    width: 100,
                }, {
                    field: "ArabicText",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.ArabicText")",
                    width: 100,
                }, {
                    field: "DisplayOrder",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.DisplayOrder")",
                    width: 100,
                    //integer format
                    format: "{0:0}",
                }, {
                    field: "Visible",
                    title: "@T("Admin.ContentManagement.FeaturesList.Fields.Visible")",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    command: [{
                        name: "edit",
                        text: "@T("Admin.Common.Edit")"
                    }, {
                        name: "destroy",
                        text: "@T("Admin.Common.Delete")"
                    }],
                    width: 200
                }]
            });
        });
    </script>

    <p>
        <strong>@T("Admin.ContentManagement.FeaturesList.AddNew")</strong>
    </p>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#AddFeatureItem_Visible').val(false);
            $('#AddFeatureItem_Visible').click(function () {
                if($(this).is(':checked'))
                    $(this).val(true);
                else
                    $(this).val(false);
            });

            $('#addFeatureListItem').click(function () {
                var pictureId = $("#@Html.FieldIdFor(model => model.AddFeatureItem.PictureId)").val();
                var url = $("#@Html.FieldIdFor(model => model.AddFeatureItem.URL)").val();
                var comment = $("#@Html.FieldIdFor(model => model.AddFeatureItem.Comment)").val();
                var arabicComment = $("#@Html.FieldIdFor(model => model.AddFeatureItem.ArabicComment)").val();
                var text = $("#@Html.FieldIdFor(model => model.AddFeatureItem.Text)").val();
                var arabicText = $("#@Html.FieldIdFor(model => model.AddFeatureItem.ArabicText)").val();
                var displayOrder = $("#@Html.FieldIdFor(model => model.AddFeatureItem.DisplayOrder)").val();
                var visible = $("#@Html.FieldIdFor(model => model.AddFeatureItem.Visible)").val();

                if (pictureId == 0) {
                    alert('Upload picture first');
                    return;
                }

                $('#addFeatureListItem').attr('disabled', true);
                $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("FeaturesListItemAdd", "FeaturesList"))",
                    data: { "FeaturesListId": @Model.Id, "pictureId": pictureId, "url": url, "comment": comment, "arabicComment": arabicComment, "text": text, "arabicText": arabicText, "displayOrder": displayOrder, "visible": visible},
                    success: function (data) {
                        var feturesListItemsGrid = $("#featuresListItems-grid");
                        feturesListItemsGrid.data('kendoGrid').dataSource.read();
                        $('#addFeatureListItem').attr('disabled', false);
                        var url = $("#@Html.FieldIdFor(model => model.AddFeatureItem.URL)").val("");
                        var comment = $("#@Html.FieldIdFor(model => model.AddFeatureItem.Comment)").val("");
                        var arabicComment = $("#@Html.FieldIdFor(model => model.AddFeatureItem.ArabicComment)").val("");
                        var text = $("#@Html.FieldIdFor(model => model.AddFeatureItem.Text)").val("");
                        var arabicText = $("#@Html.FieldIdFor(model => model.AddFeatureItem.ArabicText)").val("");
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('Failed to add Feature List Item.');
                        $('#addFeatureListItem').attr('disabled', false);
                    }
                });
            });
        });
    </script>

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.PictureId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFeatureItem.PictureId)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.PictureId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.URL):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFeatureItem.URL)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.URL)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.Comment):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFeatureItem.Comment)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.Comment)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.ArabicComment):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFeatureItem.ArabicComment)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.ArabicComment)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.Text):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFeatureItem.Text)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.Text)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.ArabicText):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFeatureItem.ArabicText)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.ArabicText)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.DisplayOrder):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AddFeatureItem.DisplayOrder)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.DisplayOrder)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AddFeatureItem.Visible):
            </td>
            <td class="adminData">
                @Html.CheckBoxFor(model => model.AddFeatureItem.Visible)
                @Html.ValidationMessageFor(model => model.AddFeatureItem.Visible)
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input type="button" id="addFeatureListItem" class="k-button" value="@T("Admin.ContentManagement.FeaturesList.AddButton")" />
            </td>
        </tr>
    </table>
}
else
{
    @T("Admin.ContentManagement.FeaturesList.SaveBeforeEdit")
}

