﻿@using Nop.Admin.Models.FeaturesLists;

@model FeaturesListModel

@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using System.Text;

<table class="adminContent">
    @if (Model.Id > 0)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Id):
            </td>
            <td class="adminData">
                @Model.Id.ToString()
                @Html.ValidationMessageFor(model => model.Id)
            </td>
        </tr>
    }
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>    
</table>
