﻿@model OrderModel
@if (Model.IsShippable)
{        
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <col />
                    <col />
                    <col />
                    @if(!Model.IsLoggedInAsFinance)
                    {
                        <col />
                    }
                    <thead>
                        <tr class="headerstyle">
                            <th align="center">
                                @T("Admin.Orders.Shipments.Address")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.ShippingMethod")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products")
                            </th>
                            @if(!Model.IsLoggedInAsFinance)
                            {
                                <th align="center">
                                    @T("Admin.Orders.Shipments.TrackingNumber")
                                </th>
                            }
                        </tr>
                    </thead>
                    @foreach (var shipment in Model.ItemsShippingInfo)
                    {
                        <tbody>
                            <tr>
                                <td style="width: 20%;">
                                    @{
                                        var addressLine = "";
                                        addressLine += shipment.Address.FirstName;
                                        addressLine += " " + shipment.Address.LastName;
                                        if (shipment.Address.StreetAddressEnabled && !String.IsNullOrEmpty(shipment.Address.Address1))
                                        {
                                            addressLine += ", " + shipment.Address.Address1;
                                        }
                                        if (shipment.Address.CityEnabled && !String.IsNullOrEmpty(shipment.Address.City) && String.IsNullOrEmpty(shipment.Address.UserFriendlyStateProvinceName))
                                        {
                                            addressLine += ", " + shipment.Address.City;
                                        }
                                        if (shipment.Address.StateProvinceEnabled && !String.IsNullOrEmpty(shipment.Address.UserFriendlyStateProvinceName))
                                        {
                                            addressLine += ", " + shipment.Address.UserFriendlyStateProvinceName;
                                        }
                                        if (shipment.Address.CountryEnabled && !String.IsNullOrWhiteSpace(shipment.Address.UserFriendlyCountryName))
                                        {
                                            addressLine += ", " + shipment.Address.UserFriendlyCountryName;
                                        }
                                        if (shipment.Address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(shipment.Address.ZipPostalCode))
                                        {
                                            addressLine += ", " + shipment.Address.ZipPostalCode;
                                        }
                                    }
                                    <div>
                                        @addressLine
                                    </div>
                                    <div style="padding-top: 15px;">
                                        @if (!Model.IsLoggedInAsVendor && !Model.IsLoggedInAsFinance)
                                        {
                                            <a href="@Url.Action("AddressView", new { addressId = shipment.Address.Id, orderId = Model.Id })" class="k-button">@T("Admin.Common.View")</a>
                                        }
                                        @if (!Model.IsLoggedInAsVendor && !Model.IsLoggedInAsCourier && !Model.IsLoggedInAsFinance)
                                        {
                                            <a href="@Url.Action("AddressEdit", new { addressId = shipment.Address.Id, orderId = Model.Id })" class="k-button">@T("Admin.Common.Edit")</a>
                                        }
                                    </div>
                                    <div style="padding-top: 15px;">
                                        <img alt="google maps" src="@Url.Content("~/Administration/Content/images/google-maps.gif")" />
                                        <a href="@Html.Raw(shipment.ShipmentAddressGoogleMapsUrl)" target="_blank">@T("Admin.Orders.Fields.ShippingAddress.ViewOnGoogleMaps")</a>
                                    </div>
                                </td>
                                <td style="width: 10%;">
                                    @shipment.ShippingMethod
                                </td>
                                <td style="width: 60%;">
                                    <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                                        <col />
                                        <col />
                                        <col />
                                        <col />
                                        <col />
                                        <thead>
                                            <tr class="headerstyle">
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.ProductName")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.VendorAddress")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.SKU")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.ItemWeight")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.ItemDimensions")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.QtyOrdered")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in shipment.Items)
                                            {
                                                <tr>
                                                    <td style="width: 50%;">
                                                        <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                                            <em><a href="@Url.Action("Edit", "Product", new { id = item.ProductId })">@item.ProductName</a></em>
                                                            @if (!String.IsNullOrEmpty(item.AttributeInfo) && !item.ProductIsCustomizable)
                                                            {
                                                                <br />
                                                                @Html.Raw(item.AttributeInfo)
                                                            }
                                                        </div>
                                                    </td>
                                                    <td style="width: 10%;">
                                                        @item.VendorFormattedAddress
                                                    </td>
                                                    <td style="width: 10%;">
                                                        <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                                            @item.Sku
                                                        </div>
                                                    </td>
                                                    <td align="center" style="width: 10%;">
                                                        @item.ItemWeight
                                                    </td>
                                                    <td align="center" style="width: 10%;">
                                                        @item.ItemDimensions
                                                    </td>
                                                    <td align="center" style="width: 10%;">
                                                        @item.Quantity
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                                @if(!Model.IsLoggedInAsFinance)
                                {
                                    <td style="width: 10%;">
                                        @*<span>TrackingNumber: </span>*@
                                        @if (!shipment.ShipmentExists || (shipment.ShipmentExists && shipment.CanReadyToBeShip && string.IsNullOrEmpty(shipment.TrackingNumber)))
                                        {
                                            @*<input type="text" id="trackingnumber_@shipment.AddressId">*@
                                        }
                                        else
                                        {
                                            <span>TrackingNumber: </span>
                                            <span>@shipment.TrackingNumber</span>
                                        }
                                        <br /><br />
                                  
                                        @if (!shipment.ShipmentExists || (shipment.ShipmentExists && shipment.CanReadyToBeShip))
                                        {
                                            var ShipmentExists = Convert.ToString(shipment.ShipmentExists);
                                            if (shipment.CanShippedTogether == false)
                                            { 
                                                <span>Cann't Shipped Together </span>
                                            }
                                             else
                                            { 
                                                  <span>Ready To Be Shipped Date: </span>
                                                <input type="button" id="setasreadytobeshipped_@shipment.AddressId" class="adminButton" onclick="setShipmentReadyToBeShipped(this, '@shipment.OrderId', '@shipment.AddressId', '@ShipmentExists')" value="@T("Admin.Orders.Shipments.ReadyToBeShippedDate.Button")" />
                                            }
                                        }
                                        else
                                        {
                                            <span>@shipment.ReadyToBeShippedDate</span>
                                                 <br/>
                                            <a href="@String.Format(System.Configuration.ConfigurationManager.AppSettings["DownLoadBookingPDF"], shipment.BookingNumber)" target="_blank">@T("Admin.Orders.Shipments.DownLoadBookingPDF")</a>
                                        }
                                     </td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>

            </td>
        </tr>
        
        @if (!Model.IsLoggedInAsVendor)
        {
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.ShippingStatus):
                </td>
                <td class="adminData">
                    @Model.ShippingStatus
                </td>
            </tr>
        }
    </table>
    <p>
        <strong>
            @T("Admin.Orders.Shipments")
        </strong>
    </p>
    <table class="adminContent">
        <tr>
            <td>
                <div id="shipments-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#shipments-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ShipmentsByOrder", "Order", new { orderId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            //details grid
                            detailInit: detailInit,
                            scrollable: false,
                            columns: [{
                                field: "Id",
                                title: "@T("Admin.Orders.Shipments.ID")",
                                width: 50
                            }, {
                                field: "OrderId",
                                title: "@T("Admin.Orders.Shipments.OrderID")",
                                width: 50
                            }, {
                                field: "TrackingNumber",
                                title: "@T("Admin.Orders.Shipments.TrackingNumber")",
                                width: 150
                            }, {
                                field: "FormattedAddress",
                                title: "@T("Admin.Orders.Shipments.Products.Address")",
                                width: 200
                            },{
                                field: "TotalWeight",
                                title: "@T("Admin.Orders.Shipments.TotalWeight")",
                                width: 100
                            }, {
                                field: "ReadyToBeShippedDate",
                                title: "@T("Admin.Orders.Shipments.ReadyToBeShippedDate")",
                                width: 150,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "ShippedDate",
                                title: "@T("Admin.Orders.Shipments.ShippedDate")",
                                width: 150,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "DeliveryDate",
                                title: "@T("Admin.Orders.Shipments.DeliveryDate")",
                                width: 150,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.View")",
                                width: 50,
                                template: '<a href="@Url.Content("~/Admin/Order/ShipmentDetails/")#=Id#">@T("Admin.Common.View")</a>'
                            }]
                        });
                    });

                    //details grid
                    function detailInit(e) {
                        $("<div/>").appendTo(e.detailCell).kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ShipmentsItemsByShipmentId", "Order"))?shipmentId="+e.data.Id,
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            scrollable: false,
                            sortable: true,
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            columns: [
                                {
                                    field: "ProductName",
                                    title: "@T("Admin.Orders.Shipments.Products.ProductName")",
                                    width: 400
                                },{
                                    field: "QuantityInThisShipment",
                                    title: "@T("Admin.Orders.Shipments.Products.QtyShipped")",
                                    width: 150
                                },{
                                    field: "ItemWeight",
                                    title: "@T("Admin.Orders.Shipments.Products.ItemWeight")",
                                    width: 150
                                },{
                                    field: "ItemDimensions",
                                    title: "@T("Admin.Orders.Shipments.Products.ItemDimensions")",
                                    width: 150
                                }
                            ]
                        });
                    }
                </script>
            </td>
        </tr>
        @if (Model.CanAddNewShipments && !Model.IsLoggedInAsFinance)
        {
            <tr>
                <td class="adminData">
                    <input type="submit" id="btnAddNewShipment" name="btnAddNewShipment" value="@T("Admin.Orders.Shipments.AddNew")" onclick="javascript:setLocation('@(Url.Action("AddShipment", "Order", new { orderId = Model.Id }))'); return false;" class="k-button" />
                </td>
            </tr>
        }
    </table>
}
else
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle"></td>
            <td class="adminData">
                @T("Admin.Orders.ShippingInfo.NotRequired")
            </td>
        </tr>
    </table>
}
<script>
    function setShipmentReadyToBeShipped(btn, orderId, addressId, ShipmentExists) {

        $("#setasreadytobeshipped_" + addressId).attr('disabled', 'disabled');
        var trackingNumber = $("#trackingnumber_" + addressId).val();

        var postData = {
            "orderId": orderId,
            "addressId": addressId,
            "trackingNumber": trackingNumber,
            "ShipmentExists": ShipmentExists
        };

        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.Action("SetAsReadyToBeShipped_ShippingInfo", "Order"))",
            data: postData,
        complete: function(data) {
            window.location.href = window.location.href;
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError);
        },

        });
    }
</script>