﻿@model List<AddShipmentModel>
@{
    //page title
    ViewBag.Title = string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, Model.FirstOrDefault().OrderId);
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, Model.FirstOrDefault().OrderId) @Html.ActionLink("(" + T("Admin.Orders.Shipments.BackToOrder") + ")", "Edit", new { id = Model.FirstOrDefault().OrderId })
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.ValidationSummary(false)
    <table class="adminContent">
        <tr>
            <td class="adminData">
                <strong>@T("Admin.Orders.Shipments.Products")</strong>
            </td>
        </tr>
        <tr>
            <td class="adminData">
                <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <col />
                    <col />
                    <col />
                    <col />
                    <thead>
                        <tr class="headerstyle">
                            <th align="center">
                                @T("Admin.Orders.Shipments.Address")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.ShippingMethod")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products")
                            </th>
                           
                        </tr>
                    </thead>
                    @foreach (var addShipment in Model)
                    {
                        <tbody>
                            <tr>
                                <td style="width: 20%;">
                                    @{
                                        var addressLine = "";
                                        addressLine += addShipment.Address.FirstName;
                                        addressLine += " " + addShipment.Address.LastName;
                                        if (addShipment.Address.StreetAddressEnabled && !String.IsNullOrEmpty(addShipment.Address.Address1))
                                        {
                                            addressLine += ", " + addShipment.Address.Address1;
                                        }
                                        if (addShipment.Address.CityEnabled && !String.IsNullOrEmpty(addShipment.Address.City) && String.IsNullOrEmpty(addShipment.Address.UserFriendlyStateProvinceName))
                                        {
                                            addressLine += ", " + addShipment.Address.City;
                                        }
                                        if (addShipment.Address.StateProvinceEnabled && !String.IsNullOrEmpty(addShipment.Address.UserFriendlyStateProvinceName))
                                        {
                                            addressLine += ", " + addShipment.Address.UserFriendlyStateProvinceName;
                                        }
                                        if (addShipment.Address.CountryEnabled && !String.IsNullOrWhiteSpace(addShipment.Address.UserFriendlyCountryName))
                                        {
                                            addressLine += ", " + addShipment.Address.UserFriendlyCountryName;
                                        }
                                        if (addShipment.Address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(addShipment.Address.ZipPostalCode))
                                        {
                                            addressLine += ", " + addShipment.Address.ZipPostalCode;
                                        }
                                    }
                                    @addressLine
                                </td>
                                <td style="width: 10%;">
                                    @addShipment.ShippingMethod
                                </td>
                                <td style="width: 60%;">
                                    <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                                        <col />
                                        <col />
                                        <col />
                                        <col />
                                        <col />
                                        <thead>
                                            <tr class="headerstyle">
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.ProductName")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.SKU")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.ItemWeight")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.ItemDimensions")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.QtyOrdered")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.Products.QtyToShip")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.TrackingNumber")
                                                </th>
                                                <th align="center">
                                                    @T("Admin.Orders.Shipments.BookingNumber")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in addShipment.Items)
                                            {
                                                <tr>
                                                    <td style="width: 50%;">
                                                        <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                                            <em><a href="@Url.Action("Edit", "Product", new { id = item.ProductId })">@item.ProductName</a></em>
                                                            @if (!String.IsNullOrEmpty(item.AttributeInfo) && !item.ProductIsCustomizable)
                                                            {
                                                                <br />
                                                                @Html.Raw(item.AttributeInfo)
                                                            }
                                                        </div>
                                                    </td>
                                                    <td style="width: 10%;">
                                                        <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                                            @item.Sku
                                                        </div>
                                                    </td>
                                                    <td align="center" style="width: 10%;">
                                                        @item.ItemWeight
                                                    </td>
                                                    <td align="center" style="width: 10%;">
                                                        @item.ItemDimensions
                                                    </td>
                                                    <td align="center" style="width: 10%;">
                                                        @item.Quantity
                                                    </td>
                                                    <td align="center" style="width: 20%;">
                                                        <input name="qtyToAdd@(item.OrderItemId)" type="text" value="@item.QuantityToAdd" id="qtyToAdd@(item.OrderItemId)" class="adminInput" style="width:100px;" />
                                                    </td>
                                                    <td style="width: 10%;">
                                                        <input type="text" name="trackingnumber_@item.OrderItemId">
                                                    </td>
                                                    <td style="width: 10%;">
                                                        <input type="text" name="bookingnumber_@item.OrderItemId">
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                               
                            </tr>
                        </tbody>
                    }
                </table>
            </td>
        </tr>
    </table>
}