﻿@model CardCustomizationModel
@{
    ViewBag.Title = T("Admin.Orders.ViewCustomization").Text;
}
@using Nop.Core;


<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
        @T("Admin.Orders.ViewCustomization") @Html.ActionLink("(" + T("Admin.Orders.ViewCustomization.BackToOrder") + ")", "Edit", new { id = Model.OrderId })
    </div>
    <div class="options">
        <a href="@Url.Action("GenerateCustomizationPdf", new { itemId = Model.Id })" class="k-button">@T("Admin.Orders.ViewCustomization.GeneratePdf")</a>
    </div>
</div>


@foreach (var page in Model.pages)
{
    <h1>
        @page.PageName
    </h1>
    var cardWidth = CommonHelper.convertFromCmToPixel(Model.Width);
    var cardHeight = CommonHelper.convertFromCmToPixel(Model.Height);
    var pageStyle = string.Format("width: {0}px; height: {1}px; position: relative;background-repeat:no-repeat", cardWidth, cardHeight);

    <div style="@pageStyle">
        @foreach (var placeHolder in page.PlaceHolders)
        {
            var width = CommonHelper.convertFromCmToPixel(placeHolder.Width);
            var height = CommonHelper.convertFromCmToPixel(placeHolder.Height);
            var x = CommonHelper.convertFromCmToPixel(placeHolder.XPos);
            var y = CommonHelper.convertFromCmToPixel(placeHolder.YPos);
            if (placeHolder.Type == "image")
            {
                var holderStyle = string.Format("width: {0}px; height: {1}px; position: absolute; top: {2}px; left: {3}px;background-repeat:no-repeat", width, height, y, x);
                var imgStyle = string.Format("width: {0}px; height: {1}px;", width, height);
                <div id="placeHolderImg" style="@holderStyle">
                    <img src="@placeHolder.ImageURL" style="@imgStyle" />
                </div>
            }
            
        }
        @{
        //var cardWidth = CommonHelper.convertFromCmToPixel(Model.Width);
        //var cardHeight = CommonHelper.convertFromCmToPixel(Model.Height);
        var PageImageStyle = string.Format("width: {0}px; height: {1}px;", cardWidth, cardHeight);
        <div style="position: absolute;">
            <img src="@page.TemplatePictureURL" style="@PageImageStyle" />
        </div>
        }
        @foreach (var placeHolder in page.PlaceHolders)
        {
            var width = CommonHelper.convertFromCmToPixel(placeHolder.Width);
            var height = CommonHelper.convertFromCmToPixel(placeHolder.Height);
            var x = CommonHelper.convertFromCmToPixel(placeHolder.XPos);
            var y = CommonHelper.convertFromCmToPixel(placeHolder.YPos);
            if (placeHolder.Type == "text")
            {
                var holderStyle = string.Format("width: {0}px; height: {1}px; position: absolute; top: {2}px; left: {3}px; font-family:{4}; color:{5}; font-size:{6}px; font-style:{7}; text-decoration:{8}; font-weight:{9}; text-align:center;", width, height, y, x, placeHolder.TextFamily, placeHolder.FontColor, placeHolder.TextSize, placeHolder.TextStyle, placeHolder.TextDecoration, placeHolder.TextWeight);
                <div id="placeHolderTxt" dir="auto" style="@holderStyle">
                    @placeHolder.Text
                </div>
            }

        }        
    </div>
}





