﻿@model OrderDetailsModel
@using Nop.Web.Models.Order;

@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title
    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);
}
@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
}
<div class="page order-details-page">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <h1>@T("Order.OrderInformation")</h1>
            <a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="button-2 print-order-button">@T("Order.Print")</a>
            <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="button-2 pdf-order-button">@T("Order.GetPDFInvoice")</a>
        </div>
    }
    <div class="page-body">
        @Html.Widget("orderdetails_page_top")
        <div class="order-overview">
            <div class="order-number">
                <strong>@T("Order.Order#") @Model.Id</strong>
            </div>
            <div class="order-details">
                <span>@T("Order.OrderDate"): @Model.CreatedOn.ToString("D")</span>
                <span>@T("Order.OrderStatus"): @Model.OrderStatus</span>
            </div>
            <div class="order-total">
                @T("Order.OrderTotal"): <strong>@Model.OrderTotal</strong>
            </div>
            @Html.Widget("orderdetails_page_overview")
        </div>
        <div class="order-details-area">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <ul class="billing-info">
                                <li class="title">
                                    @T("Order.BillingAddress")
                                </li>
                                <li class="name">
                                    @T("Order.Name"): @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                                </li>
                                <li class="email">
                                    @T("Order.Email"): @Model.BillingAddress.Email
                                </li>
                                @if (Model.BillingAddress.PhoneEnabled)
                                {
                                    <li class="phone">
                                        @T("Order.Phone"): @Model.BillingAddress.PhoneNumber
                                    </li>
                                }
                                @if (Model.BillingAddress.FaxEnabled && !String.IsNullOrEmpty(Model.BillingAddress.FaxNumber))
                                {
                                    <li class="fax">
                                        @T("Order.Fax"): @Model.BillingAddress.FaxNumber
                                    </li>
                                }
                                @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
                                {
                                    <li class="company">
                                        @T("Order.Company"): @Model.BillingAddress.Company
                                    </li>
                                }
                                @if (Model.BillingAddress.StreetAddressEnabled)
                                {
                                    <li class="address1">
                                        @T("Order.Address1"): @Model.BillingAddress.Address1
                                    </li>
                                }
                                @if (Model.BillingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.BillingAddress.Address2))
                                {
                                    <li class="address2">
                                        @T("Order.Address2"): @Model.BillingAddress.Address2
                                    </li>
                                }
                                @if (Model.BillingAddress.CityEnabled ||
                            Model.BillingAddress.StateProvinceEnabled ||
                            Model.BillingAddress.ZipPostalCodeEnabled)
                                {
                                    <li class="city-state-zip">
                                        @*show city value when state name is empty (not duplicated)*@
                                        @if (Model.BillingAddress.CityEnabled && String.IsNullOrEmpty(Model.BillingAddress.UserFriendlyStateProvinceName))
                                        {
                                            @Model.BillingAddress.City
                                        }
                                        @if (Model.BillingAddress.CityEnabled && String.IsNullOrEmpty(Model.BillingAddress.UserFriendlyStateProvinceName)
                                            && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                                        {
                                            <text>,</text>
                                        }
                                        @if (Model.BillingAddress.StateProvinceEnabled)
                                        {
                                            @Model.BillingAddress.UserFriendlyStateProvinceName
                                        }
                                        @if (Model.BillingAddress.ZipPostalCodeEnabled)
                                        {
                                            @Model.BillingAddress.ZipPostalCode
                                        }
                                    </li>
                                }
                                @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.UserFriendlyCountryName))
                                {
                                    <li class="country">
                                        @Model.BillingAddress.UserFriendlyCountryName
                                    </li>
                                }
                                @if (!String.IsNullOrEmpty(Model.VatNumber))
                                {
                                    <li class="vat">
                                        <span class="vat-label">
                                            <strong>@T("Order.VATNumber")</strong>
                                        </span>
                                        <span class="vat-value">
                                            @Model.VatNumber
                                        </span>
                                    </li>
                                }
                                @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                                {
                                    <li class="title">
                                        @T("Order.PaymentMethod")
                                    </li>
                                    <li class="payment-method">
                                        @Model.PaymentMethod
                                    </li>
                                    if (!Model.PrintMode && Model.CanRePostProcessPayment)
                                    {
                                        @*Completing payment support (for redirection payment methods)*@
                                        <li class="repost">
                                            @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                            {
                                                <input type="submit" name="repost-payment" value="@T("Order.RetryPayment")" class="button-1 re-order-button" />
                                                <p class="hint">
                                                    <em>@T("Order.RetryPayment.Hint")</em>
                                                </p>
                                            }
                                        </li>
                                    }
                                }
                                @if (Model.DisplayPurchaseOrderNumber)
                                {
                                    <li class="po">
                                        <span class="po-label">
                                            <strong>@T("Order.PurchaseOrderNumber")</strong>
                                        </span>
                                        <span class="po-value">
                                            @Model.PurchaseOrderNumber
                                        </span>
                                    </li>
                                }
                                @*<li class="title">
                                        <strong>@T("Order.ShippingMethod")</strong>
                                    </li>
                                    <li class="shipping-method">
                                        @Model.ShippingMethod
                                    </li>*@
                                <li><br /></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @Html.Widget("orderdetails_page_beforeproducts")
        @if (Model.Items.Count > 0)
        {
            <div class="section products">
                <div class="title">
                    @T("Order.Product(s)")
                </div>
                <table class="data-table">
                    <colgroup>
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            @if (Model.ShowSku)
                            {
                                <th class="a-center sku">
                                    @T("Order.Product(s).SKU")
                                </th>
                            }
                            <th class="a-center name">
                                @T("Order.Product(s).Name")
                            </th>
                            <th class="a-center price">
                                @T("Order.Product(s).Price")
                            </th>
                            <th class="a-center quantity">
                                @T("Order.Product(s).Quantity")
                            </th>
                            <th class="a-center total">
                                @T("Order.Product(s).Total")
                            </th>
                            <th class="a-center">
                                @T("Order.Product(s).ShippingDetails")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                @if (Model.ShowSku)
                                {
                                    <td class="a-left sku">
                                        <span class="td-title">@T("Order.Product(s).SKU"):</span>
                                        @item.Sku
                                    </td>
                                }
                                <td class="a-left name">
                                    @if (!Model.PrintMode)
                                    {
                                        <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                    }
                                    else
                                    {
                                        @item.ProductName
                                    }
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo) && !item.ProductIsCustomizable)
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                </td>
                                <td class="a-right price">
                                    @if (!item.ProductIsCustomizable)
                                    {
                                        <span class="td-title">@T("Order.Product(s).Price"):</span>
                                        @item.UnitPrice
                                    }
                                </td>
                                <td class="a-center quantity">
                                    <span class="td-title">@T("Order.Product(s).Quantity"):</span>
                                    @item.Quantity
                                </td>
                                <td class="a-right total">
                                    <span class="td-title">@T("Order.Product(s).Total"):</span>
                                    @item.SubTotal
                                </td>
                                <td class="a-left">
                                    <span class="td-title">@T("Order.Product(s).ShippingDetails"):</span>
                                    <table class="ShippingTable">
                                        @if (Model.IsShippable)
                                        {
                                            <tr>
                                                <th>
                                                    @T("Order.Product(s).ShippingAddresses")
                                                </th>
                                                @if (item.ProductIsCustomizable)
                                                {
                                                    <th>
                                                        @T("Order.Product(s).ItemPrice")
                                                    </th>
                                                }
                                                @if (Model.Shipments.Count > 0)
                                                {
                                                    <th>
                                                        @T("Order.Product(s).ShippingStatus")
                                                    </th>
                                                }
                                                <th>
                                                    @T("Order.Product(s).ShippingMethod")
                                                </th>
                                            </tr>
                                        }
                                        @for (int i = 0; i < item.ShippingAddresses.Count; i++)
                                        {
                                            if (Model.IsShippable)
                                            {
                                                <tr>
                                                    <td>
                                                        <span class="td-title">@T("Order.Product(s).ShippingAddresses"):</span>
                                                        @{
                                                            var addressLine = "";
                                                            var address = item.ShippingAddresses.ElementAt(i);
                                                            addressLine += address.FirstName;
                                                            addressLine += " " + address.LastName;
                                                            if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
                                                            {
                                                                addressLine += ", " + address.Address1;
                                                            }
                                                            //show city value when state name is empty (not duplicated)
                                                            if (address.CityEnabled && !String.IsNullOrEmpty(address.City) && String.IsNullOrEmpty(address.UserFriendlyStateProvinceName))
                                                            {
                                                                addressLine += ", " + address.City;
                                                            }
                                                            if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.UserFriendlyStateProvinceName))
                                                            {
                                                                addressLine += ", " + address.UserFriendlyStateProvinceName;
                                                            }
                                                            if (address.CountryEnabled && !String.IsNullOrWhiteSpace(address.UserFriendlyCountryName))
                                                            {
                                                                addressLine += ", " + address.UserFriendlyCountryName;
                                                            }
                                                            if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                                                            {
                                                                addressLine += ", " + address.ZipPostalCode;
                                                            }

                                                            @Html.Raw(addressLine);
                                                        }
                                                    </td>
                                                    @if (item.ProductIsCustomizable)
                                                    {
                                                        <td>
                                                            <span class="td-title">@T("Order.Product(s).ItemPrice"):</span>
                                                            @if (@item.ShippingAddresses.ElementAt(i).IsDomestic == true)
                                                            {
                                                                <span class="td-title">@T("Order.Product(s).Price"):</span>
                                                                @item.UnitPrice;
                                                            }
                                                            @if (@item.ShippingAddresses.ElementAt(i).IsDomestic == false)
                                                            {
                                                                <span class="td-title">@T("Order.Product(s).Price"):</span>
                                                                @item.InternationalPrice;
                                                            }
                                                        </td>
                                                    }
                                                    @if (Model.Shipments.Count > 0)
                                                    {
                                                        <td>
                                                            <span class="td-title">@T("Order.Product(s).ShippingStatus"):</span>
                                                            @foreach (var shippment in Model.Shipments)
                                                            {
                                                                foreach (var shippmentItem in shippment.ShippmentItems)
                                                                {
                                                                    if (shippment.AddressId == item.ShippingAddresses.ElementAt(i).Id && item.Id == shippmentItem.OrderItemId)
                                                                    {
                                                                        if (shippment.ShippedDate.HasValue)
                                                                        {
                                                                            @T("Order.Product(s).ShippedOn")
                                                                            <br />
                                                                            @shippment.ShippedDate.Value.ToString("D");
                                                                        }
                                                                        else
                                                                        {
                                                                            @T("order.shipments.shippeddate.notyet")
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                    }
                                                    <td>
                                                        <span class="td-title">@T("Order.Product(s).ShippingMethod"):</span>
                                                        @item.ShippingMethods.ElementAt(i)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>



                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    <div class="checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                }
                @if (!Model.PrintMode)
                {
                    <div class="actions">
                        @if (Model.IsReOrderAllowed)
                        {
                            <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                        }
                        @if (Model.IsReturnRequestAllowed)
                        {
                            <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                        }
                    </div>
                }
            </div>
        }
        @Html.Widget("orderdetails_page_afterproducts")
        <div class="total-info">
            <table class="cart-total">
                <tbody>
                    <tr>
                        <td class="cart-total-left">
                            <span class="nobr">
                                @T("Order.SubTotal"):
                            </span>
                        </td>
                        <td class="cart-total-right">
                            <span class="nobr">
                                @Model.OrderSubtotal
                            </span>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                    {
                        <tr>
                            <td class="cart-total-left">
                                <span class="nobr">
                                    @T("Order.SubTotalDiscount"):
                                </span>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.OrderSubTotalDiscount
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.IsShippable)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <span class="nobr">
                                    @T("Order.Shipping"):
                                </span>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.OrderShipping
                                </span>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                    {
                        <tr>
                            <td class="cart-total-left">
                                <span class="nobr">
                                    @T("Order.PaymentMethodAdditionalFee"):
                                </span>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.PaymentMethodAdditionalFee
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                    {
                        foreach (var taxRate in Model.TaxRates)
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <span class="nobr">
                                        @string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):
                                    </span>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @taxRate.Value
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                    @if (Model.DisplayTax)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <span class="nobr">
                                    @T("Order.Tax"):
                                </span>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.Tax
                                </span>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                    {
                        <tr>
                            <td class="cart-total-left">
                                <span class="nobr">
                                    @T("Order.TotalDiscount"):
                                </span>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.OrderTotalDiscount
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.GiftCards.Count > 0)
                    {
                        foreach (var gc in Model.GiftCards)
                        {
                            <tr>
                                <td class="cart-total-left">
                                    <span class="nobr">
                                        @string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):
                                    </span>
                                </td>
                                <td class="cart-total-right">
                                    <span class="nobr">
                                        @gc.Amount
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                    @if (Model.RedeemedRewardPoints > 0)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <span class="nobr">
                                    @string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):
                                </span>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.RedeemedRewardPointsAmount
                                </span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="cart-total-left">
                            <span class="nobr">
                                @T("Order.OrderTotal"):
                            </span>
                        </td>
                        <td class="cart-total-right">
                            <span class="nobr">
                                <strong>
                                    @Model.OrderTotal
                                </strong>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (Model.Shipments.Count > 0)
        {
            <div class="section shipments">
                <div class="title">
                    @T("Order.Shipments")
                </div>
                <table class="data-table">
                    <colgroup>
                        <col width="1" />
                        <col />
                        <col />
                        <col />
                        @if(!Model.PrintMode)
                        {
                            <col />
                        }
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="a-center id">
                                @T("Order.Shipments.ID")
                            </th>
                            <th class="a-center tracking-number">
                                @T("Order.Shipments.TrackingNumber")
                            </th>
                            <th class="a-center shipped-date">
                                @T("Order.Shipments.ShippedDate")
                            </th>
                            <th class="a-center delivery-date">
                                @T("Order.Shipments.DeliveryDate")
                            </th>
                            @if(!Model.PrintMode)
                            {
                                <th class="a-center details">
                                    @T("Order.Shipments.ViewDetails")
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Shipments)
                        {
                            <tr>
                                <td class="a-left id">
                                    @item.Id.ToString()
                                </td>
                                <td class="a-left tracking-number">
                                    <a href='@System.Configuration.ConfigurationManager.AppSettings["shipptingStatusURL"]' target="_blank" class="inactive">@item.TrackingNumber</a>
                                </td>
                                <td class="a-left shipped-date">
                                    @if (item.ShippedDate.HasValue)
                                    {
                                        @item.ShippedDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.ShippedDate.NotYet")
                                    }
                                </td>
                                <td class="a-left delivery-date">
                                    @if (item.DeliveryDate.HasValue)
                                    {
                                        @item.DeliveryDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.DeliveryDate.NotYet")
                                    }
                                </td>
                                @if(!Model.PrintMode)
                                {
                                    <td class="a-center details">
                                        <a href="@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.OrderNotes.Count > 0)
        {
            <div class="section order-notes">
                <div class="title">
                    @T("Order.Notes")
                </div>
                <table class="data-table">
                    <colgroup>
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="a-left createdon">
                                @T("Order.Notes.CreatedOn")
                            </th>
                            <th class="a-left note">
                                @T("Order.Notes.Note")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderNotes)
                        {
                            <tr>
                                <td class="a-left createdon">
                                    @item.CreatedOn.ToString("D")
                                </td>
                                <td class="a-left note">
                                    @Html.Raw(item.Note)
                                    @if (item.HasDownload)
                                    {
                                        <p class="download">
                                            <a href="@Url.RouteUrl("GetOrderNoteFile", new { ordernoteid = item.Id })">@T("Order.Notes.Download")</a>
                                        </p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @Html.Widget("orderdetails_page_bottom")
    </div>
</div>
