﻿@model CustomizeOrderItemModel
@using Nop.Web.Models.Order;
@using System.Configuration;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Services.Orders;
@using System.Text.RegularExpressions;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    var fPath = System.Configuration.ConfigurationManager.AppSettings["AppPath"];

    var pageTitle = T("PageTitle.CardCustomization", Model.Product.GetLocalized(x => x.Name)).Text;

    var swfobjectScript = string.Format("{0}swfobject.js", fPath);
    var flashComponent = string.Format("{0}index.swf", fPath);
    
    if (Regex.IsMatch(pageTitle, @"\p{IsArabic}"))
    {
        swfobjectScript = string.Format("{0}swfobject_Ar.js", fPath);
        flashComponent = string.Format("{0}index_Ar.swf", fPath);
    }
        
    var successMessage = T("Order.OrderItem.CustomizationHasBeenSaved").Text;

    var orderService = EngineContext.Current.Resolve<IOrderService>();
    var orderItem = orderService.GetOrderItemById(Model.OrderItemId);
    
    //title
    Html.AddTitleParts(pageTitle);
}

<!--product Customization breadcrumb-->
@Html.Action("ProductCustomizationBreadcrumb", "Catalog", new { productId = Model.Product.Id })
<div class="page-title">
    <h1>@pageTitle</h1>
</div>

@if (Model.ErrorExist)
{
    <div class="errorMsgHolder">
        <div class="flipDir">
            <div class="errorIcon"></div>
            <div class="alertContent">
                @*<span id="ContentPlaceHolder1_Label18" class="alertTitle">Error Submitting</span>*@
                <div><span id="ContentPlaceHolder1_Label19">@Model.ErrorMessege</span></div>
            </div>
            <div class="clearFix"></div>
        </div>
    </div>
}
else
{
    <script type="text/javascript" src="@swfobjectScript"></script>
    <script type="text/javascript">

    var flashvars = {
        customerID: @(Model.CustomerId),
        ProductID: @(Model.ProductId),
        ItemID: @(Model.OrderItemId),
    };

    function reloadSWF() {
        displayBarNotification('@Html.Raw(successMessage)', 'success', 3500);        
        
        location.href ='@Url.RouteUrl("OrderDetails", new { orderId = orderItem.OrderId })';
    }

    function embedSWF() {
        swfobject.embedSWF("@flashComponent", "myContent", "915", "727", "9.0.0", "expressInstall.swf", flashvars, { menu: "false" });
    }
    embedSWF()
    </script>

    <div id="myContent">
        <h1>Download Adobe Flash Player</h1>
        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
    </div>
}



