﻿@model ShipmentDetailsModel
@using Nop.Web.Models.Order;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.ShipmentDetails").Text);
}
<div class="page shipment-details-page">
    <div class="page-title">
        <h1>@string.Format(T("Order.Shipments.Information").Text, Model.Id)</h1>
    </div>
    <div class="page-body">

        <div class="shipment-overview">
            <ul class="shipping-details">
                <li class="title">
                    @T("Order.Shipments.Order#")@Model.Order.Id
                </li>
                <li class="shipping-method">
                    @T("Order.Shipments.ShippingMethod"): @Model.ShippingMethod
                </li>
                <li class="shipped-date">
                    @T("Order.Shipments.ShippedDate"):
                    @if (Model.ShippedDate.HasValue)
                    {
                        @Model.ShippedDate.Value.ToString("D")
                    }
                    else
                    {
                        @T("Order.Shipments.ShippedDate.NotYet")
                    }
                </li>
                <li class="delivery-date">
                    @T("Order.Shipments.DeliveryDate"):
                    @if (Model.DeliveryDate.HasValue)
                    {
                        @Model.DeliveryDate.Value.ToString("D")
                    }
                    else
                    {
                        @T("Order.Shipments.DeliveryDate.NotYet")
                    }
                </li>
                @if (!String.IsNullOrEmpty(Model.TrackingNumber))
                {
                    <li class="tracking-number">@T("Order.Shipments.TrackingNumber"):
                        @if (!string.IsNullOrEmpty(Model.TrackingNumberUrl))
                        {
                            <a href="@Model.TrackingNumberUrl" target="_blank" class="tracking-url">@Model.TrackingNumber</a>
                        }
                        else
                        {
                            @Model.TrackingNumber
                        }
                    </li>
                }
            </ul>
            <ul class="shipping-address">
                <li class="title">
                    @T("Order.Shipments.ShippingAddress")
                </li>
                <li class="name">
                    @T("Order.Shipments.Name"): @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                </li>
                <li class="email">
                    @T("Order.Shipments.Email"): @Model.ShippingAddress.Email
                </li>
                <li class="phone">
                    @T("Order.Shipments.Phone"): @Model.ShippingAddress.PhoneNumber
                </li>
                @if (!String.IsNullOrEmpty(Model.ShippingAddress.FaxNumber))
                {
                    <li class="fax">
                        @T("Order.Shipments.Fax"): @Model.ShippingAddress.FaxNumber
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.ShippingAddress.Company))
                {
                    <li class="company">
                        @T("Order.Shipments.Company"): @Model.ShippingAddress.Company
                    </li>
                }
                <li class="address1">
                    @T("Order.Shipments.Address1"): @Model.ShippingAddress.Address1
                </li>
                @if (!String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                {
                    <li class="address2">
                        @T("Order.Shipments.Address2"): @Model.ShippingAddress.Address2
                    </li>
                }
                <li class="city-state-zip">
                    @if (Model.ShippingAddress.UserFriendlyStateProvinceName == null)
                    {
                        @Model.ShippingAddress.City;
                        @Html.Raw(",");
                    }
                    @Model.ShippingAddress.UserFriendlyStateProvinceName
                    @Model.ShippingAddress.ZipPostalCode
                </li>
                @if (!String.IsNullOrEmpty(Model.ShippingAddress.UserFriendlyCountryName))
                {
                    <li class="country">
                        @Model.ShippingAddress.UserFriendlyCountryName
                    </li>
                }
            </ul>
        </div>
        @if (Model.Items.Count > 0)
        {
            <div class="section products">
                <div class="title">
                    @T("Order.Shipments.Product(s)")
                </div>
                <table class="data-table">
                    <colgroup>
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            @if (Model.ShowSku)
                            {
                                <th class="a-center sku">
                                    @T("Order.Shipments.Product(s).SKU")
                                </th>
                            }
                            <th class="a-center name">
                                @T("Order.Shipments.Product(s).Name")
                            </th>
                            <th class="a-center quantity">
                                @T("Order.Shipments.Product(s).Quantity")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                @if (Model.ShowSku)
                                {
                                    <td class="a-left sku">
                                        @item.Sku
                                    </td>
                                }
                                <td class="a-left name">
                                    <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo) && !item.ProductIsCustomizable)
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                </td>
                                <td class="a-center quantity">
                                    @item.QuantityShipped
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.ShipmentStatusEvents.Count > 0)
        {
            <div class="section shipment-status-events">
                <div class="title">
                    @T("Order.ShipmentStatusEvents")
                </div>
                <table class="data-table">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="a-center event">
                                @T("Order.ShipmentStatusEvents.Event")
                            </th>
                            <th class="a-center location">
                                @T("Order.ShipmentStatusEvents.Location")
                            </th>
                            <th class="a-center country">
                                @T("Order.ShipmentStatusEvents.Country")
                            </th>
                            <th class="a-center date">
                                @T("Order.ShipmentStatusEvents.Date")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ShipmentStatusEvents)
                        {
                            <tr>
                                <td class="a-left event">
                                    @item.EventName
                                </td>
                                <td class="a-left location">
                                    @item.Location
                                </td>
                                <td class="a-left country">
                                    @item.Country
                                </td>
                                <td class="a-left date">
                                    @if (item.Date.HasValue)
                                    {
                                        @item.Date.Value.ToString("D")
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
